<div class="container">

  <div class="row">

    <div class="col-sm-6 col-sm-offset-3">

        <h2 class="text-center">Sign up</h2>

        <button type="button" class="btn btn-primary btn-lg btn-block" style="font-weight: 200;" onclick="window.location='/users/auth/facebook'">Sign up with Facebook</button><br>
        <p class="text-center">or</p>

    </div>

  </div>

  <div class="row">

    <div class="col-sm-6 col-sm-offset-3">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group"><%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, :class => "form-control" %></div>

        <div class="form-group"><%= f.label :last_name %><br />
        <%= f.text_field :last_name, :class => "form-control" %></div>

        <div class="form-group"><%= f.label :email %><br />
        <%= f.email_field :email, :required => true, :class => "form-control" %></div>

        <div class="form-group"><%= f.label :tag_list, "Tags about me (optional)" %><br />
        <%= f.autocomplete_field :epithet_list, autocomplete_epithet_name_users_path, :class => "form-control", :"data-delimiter" => ', ', :placeholder => "examples: wheelchair user, musician, blogger, mother" %></div>

        <div class="form-group"><%= f.label :interested_in, "Interested in (optional)" %><br />
        <%= f.text_field :interested_in, :class => "form-control" %></div>

        <div class="form-group"><%= f.label :can_share, "Can share (optional)" %><br />
        <%= f.text_field :can_share, :class => "form-control" %></div>

        <div class="form-group"><%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", :required => true, :class => "form-control" %></div>

        <div class="form-group"><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", :required => true, :class => "form-control" %></div>

        <div class="form-group"><%= f.label :address_postal, "Postal address" %><br />
        <%= f.text_field :address_postal, :placeholder => "90210", :class => "form-control" %></div>

        <% unless ENV['is_staging'] == "true" %>
          <div class="form-group">
            <%= f.label :nothing, "Captcha" %>
            <%= recaptcha_tags %>
          </div>
        <% end %>

        <div class="form-group"><%= f.submit "Sign up", :class => 'btn btn-info btn-lg btn-block' %></div>
      <% end %>

    </div>

  </div>

  <%= render "devise/shared/links" %>

</div>
<script>

/* this hides the 'no existing matches' response when the tag doesn't exist */
$(user_tag_list).on('autocompleteresponse', function(event, ui) {
      var content;
      if (((content = ui.content) != null ? content[0].id.length : void 0) === 0) {
        $(this).autocomplete('close');
      }
  });

</script>
