<%= form_for(@resource_upload) do |f| %>
  <% if @resource_upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_upload.errors.count, "error") %> prohibited this resource_upload from being saved:</h2>

      <ul>
      <% @resource_upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resource_id %><br>
    <%= f.number_field :resource_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
