<div class="container">
	<h2>Crop Resource Photo</h2>
	<%= form_for @resource_upload do |f| %>
	  <%= f.cropbox :photo, :width => 400 %>
	  <%= f.crop_preview :photo %>
  <div class="actions flow-submit-container" style="text-align: left;">
    <a class="btn btn-default" style="margin-right: 8px;" href="/resources/<%=@resource_upload.resource_id%>/photo">Back</a><%= f.submit "Crop & Return", {class: 'btn btn-info'} %>
  </div>
	<% end %>
</div>