<h1>Listing resource_uploads</h1>

<table>
  <thead>
    <tr>
      <th>Resource</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_uploads.each do |resource_upload| %>
      <tr>
        <td><%= resource_upload.resource_id %></td>
        <td><%= link_to 'Show', resource_upload %></td>
        <td><%= link_to 'Edit', edit_resource_upload_path(resource_upload) %></td>
        <td><%= link_to 'Destroy', resource_upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource upload', new_resource_upload_path %>
