<p id="notice"><%= notice %></p>

<p>
  <strong>Resource:</strong>
  <%= @resource_upload.resource_id %>
</p>

<%= link_to 'Edit', edit_resource_upload_path(@resource_upload) %> |
<%= link_to 'Back', resource_uploads_path %>
