<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css
">
<style>
  body { 
    font-size: 140%; 
  }
  #resources-table_filter {
    padding-right: 50px;
  }
</style>

<div class="container">

  <h2>Resources</h2>

  <table class="table table-striped table-bordered" id="resources-table", data-source="/classic_driver.json">
    <thead>
      <tr>
        <th>Recent</th>
        <th>Name</th>
        <th>Tags</th>
        <th>User</th>
        <th>Nationwide</th>
        <th>Views</th>
        <th>State</th>
        <th>Postal</th>
      </tr>
    </thead>
    <tbody>
      <!-- table will be loaded here -->
    </tbody>
  </table>


</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js
"></script>
<script type="text/javascript" charset="utf8" src="/js/bililiteRangeAndSendKeys.js"></script>


<script>

  var tag_has_been_set_after_successful_load = false;
  jQuery(document).ready(function() {
    $('#resources-table').dataTable({
      "processing": true,
      "serverSide": true,
      "ajax": $('#resources-table').data('source'),
      "pagingType": "full_numbers",
      "fnDrawCallback": function( oSettings ) {
          // Your function(s);
          <% if params[:tag].present? %>
          if ( tag_has_been_set_after_successful_load == false ) {
            set_search_field();
            tag_has_been_set_after_successful_load = true;
          }
          <% end %>
      }
    });
  });
<% if params[:tag].present? %>
  function set_search_field () {
    $('input[type=search]').sendkeys("<%= (params[:tag].length > 1) ? params[:tag][0, params[:tag].length/2] : params[:tag] %>");
    $('input[type=search]').sendkeys("<%= (params[:tag].length > 1) ? params[:tag][params[:tag].length/2, params[:tag].length] : ' ' %>");
  }
<% end %>

</script>