<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<div class="container">
	<div class="col-md-3">
		<div class="search-new-detail pad-detail-top">
			<h5>Search</h5>
    	<%= form_tag("/search", method: "get", class: "form-inline") do %>
    	  <div class="form-group">
					<%= text_field_tag(:location, nil, class: "form-control search-new-location-input", :placeholder => " Postal code...", :value => @location) %>
				</div>
		</div>
		<div class="search-new-detail no-bottom-border">
			<p>
			  <label for="distance" style="font-weight: 500; float: left;">Miles Away</label>
			  <input type="text" id="distance" name="distance" readonly style="margin-left: 5px; width: 30%; float: left; border:0; color:#94B66E; font-weight:bold; margin-bottom: 10px;">
			</p>
			<div id="slider-range-max" style="clear: both;"></div>
		  <script>
		  <% if @distance.to_i > 150 %>
				var sliderValue = [25, 50, 100, 300, 500, 1000, 2500, 5000];
		  <% else %>
				var sliderValue = [1, 2, 3, 4, 5, 7, 10, 15, 25, 50, 75, 100, 150];
			<% end %>

			$(function() {
			  $( "#slider-range-max" ).slider({
			      value: <%= @slider_value %>,
			      min: 0,
			      max: sliderValue.length - 1,
			      step: 1,
			      slide: function( event, ui ) {
			          $( "#distance" ).val( sliderValue [ ui.value ] );
			      }
			  });
			  $( "#distance" ).val(  sliderValue [ $( "#slider-range-max" ).slider( "value" )] );
			});


		  </script>
		</div>
		<div class="search-new-detail no-bottom-border" style="text-align: left;">
			<h5 style="text-align: left;">Nationwide</h5>
			&nbsp; <input type="checkbox" <% if params[:nationwide].present? %> checked="checked" <% end %>id="nationwide" name="nationwide"> &nbsp; Include Nationwide
		</div>
		<div class="search-new-detail no-bottom-border" style="text-align: center;">
			<h5 style="text-align: left;">Reviews</h5>
			<link href="/switch/bootstrap-switch.min.css" rel="stylesheet">
			<style>
				.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
					font-size: 14px;
				}
			</style>
			<input type="checkbox" name="switch_helper_input" id="switch_helper_input" 
				<% if @with_reviews == true %>	
				checked	
				<% end %>>
			<input type="hidden" name="with_reviews" id="with_reviews" 
			<% if @with_reviews == true %>	
				value="true"
				<% end %>>			
			<script src="/switch/bootstrap-switch.min.js"></script>
			<script>
				$("[name='switch_helper_input']").bootstrapSwitch('onText', 'With Reviews');
				$("[name='switch_helper_input']").bootstrapSwitch('offText', 'All Results');
				$("[name='switch_helper_input']").bootstrapSwitch('size', 'large');
				$("[name='switch_helper_input']").bootstrapSwitch('onColor', 'info');
				$("[name='switch_helper_input']").on('switchChange.bootstrapSwitch', function(event, state) {
				  // console.log(state); // true | false
					document.getElementById("with_reviews").value = state;	  
				});
			</script>
		</div>
		<div class="search-new-detail no-bottom-border">
			<h5>Rating</h5>
			<input type="hidden" name="average_rating" id="average_rating"
			  <% if @average_rating %>
			  value="<%= @average_rating %>"
			  <% end %>
			>
			<div id="raty_div" class="raty-search-input" style="color: #2CB0D2;"></div>
			<link rel="stylesheet" href="/raty/jquery.raty.css">
			<script src="/raty/jquery.raty.js"></script>
			<style>
				.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
					font-size: 13px;
				}
				.raty-search-input > i {
					font-size: 30px;
				}
			</style>
			<script>
			$('#raty_div').raty({
			  <% if @average_rating %>
			  score: <%= @average_rating %>,
			  <% end %>
			  cancel   : true,
			  half     : true,
			  starType : 'i',
			  click: function(score, evt) {
			    score = Math.round(score*2)/2;
			    document.getElementById("average_rating").value = score;
			  }
			});
		</script>
		</div>
		<div class="search-new-detail" style="text-align: center;">
			<%= submit_tag("Update Results", class: "btn btn-lg btn-info btn-block") %>

		</div>
		<script src="/jquery.collapse.js"></script>
		<style>
		h6 a {
			color: #000;
		}
		h6 a:hover {
			text-decoration: none;
			color: #000;
		}		
		.search-filter-label {
			font-size: 12px;
		}
		.filters-list {
			margin-left: -20px;
		}
		</style>
		<div class="search-new-detail" style="text-align: left;">
			<h4>Primary Filters <br><span style="color: #999; font-size: 11px;">(Select all that apply)</span></h4>
			<div data-collapse class="search-filter">
			  <h6 class="open">What's your life situation?</h6>
			  <ul class="filters-list">
				  <% @life_situations.each do |t| %>
				  <div class="checkbox">
				    <label class="search-filter-label">
				      <input name="<%= "tag_#{t.id}"  %>" type="checkbox" <% if params["tag_"+t.id.to_s] == "on" %> checked <% end %>> <%= t.name %>
				    </label>
				  </div>
				  <% end %>
				</ul>
			</div>
			<h4>Secondary Filters <br><span style="color: #999; font-size: 11px;">(What are you looking for?)</span></h4>

			<div data-collapse class="search-filter">
			  <h6>Non-profit Services</h6>
			  <ul class="filters-list">
				  <% @non_profit_services.each do |t| %>
				  <div class="checkbox">
				    <label class="search-filter-label">
				      <input name="<%= "tag_#{t.id}"  %>" type="checkbox" <% if params["tag_"+t.id.to_s] == "on" %> checked <% end %>> <%= t.name %>
				    </label>
				  </div>
				  <% end %>
				</ul>
			</div>
			<div data-collapse class="search-filter">
			  <h6>One Time Events</h6>
			  <ul class="filters-list">
				  <% @one_time.each do |t| %>
				  <div class="checkbox">
				    <label class="search-filter-label">
				      <input name="<%= "tag_#{t.id}"  %>" type="checkbox" <% if params["tag_"+t.id.to_s] == "on" %> checked <% end %>> <%= t.name %>
				    </label>
				  </div>
				  <% end %>
				</ul>
			</div>
			<div data-collapse class="search-filter">
			  <h6>Jobs</h6>
			  <ul class="filters-list">
				  <% @jobs.each do |t| %>
				  <div class="checkbox">
				    <label class="search-filter-label">
				      <input name="<%= "tag_#{t.id}"  %>" type="checkbox" <% if params["tag_"+t.id.to_s] == "on" %> checked <% end %>> <%= t.name %>
				    </label>
				  </div>
				  <% end %>
				</ul>
			</div>
			<div data-collapse class="search-filter">
			  <h6>Housing</h6>
			  <ul class="filters-list">
				  <% @housing.each do |t| %>
				  <div class="checkbox">
				    <label class="search-filter-label">
				      <input name="<%= "tag_#{t.id}"  %>" type="checkbox" <% if params["tag_"+t.id.to_s] == "on" %> checked <% end %>> <%= t.name %>
				    </label>
				  </div>
				  <% end %>
				</ul>
			</div>
			<div data-collapse class="search-filter">
			  <h6>For-profit Services</h6>
			  <ul class="filters-list">
				  <% @for_profit_services.each do |t| %>
				  <div class="checkbox">
				    <label class="search-filter-label">
				      <input name="<%= "tag_#{t.id}"  %>" type="checkbox" <% if params["tag_"+t.id.to_s] == "on" %> checked <% end %>> <%= t.name %>
				    </label>
				  </div>
				  <% end %>
				</ul>
			</div>
					<div data-collapse class="search-filter">
			  <h6>Marketplace/ products</h6>
			  <ul class="filters-list">
				  <% @marketplace.each do |t| %>
				  <div class="checkbox">
				    <label class="search-filter-label">
				      <input name="<%= "tag_#{t.id}"  %>" type="checkbox" <% if params["tag_"+t.id.to_s] == "on" %> checked <% end %>> <%= t.name %>
				    </label>
				  </div>
				  <% end %>
				</ul>
			</div>

		</div>
		<div class="search-new-detail" style="text-align: center;">
			<%= submit_tag("Update Filters", class: "btn btn-lg btn-info btn-block") %>
		</div>
		<% end %>
	</div>
	<div class="col-md-9 results-border-left">	
		<div style="padding-top: 25px;">
			<div class="btn-group pull-right" role="group" aria-label="...">
			  <button type="button" class="btn btn-sm btn-default disabled">Location Search</button>
			  <button type="button" class="btn btn-sm btn-default" onclick="window.location='/search/classic'">Classic Search</button>
			</div>
		</div>
		<div class="search-results-summary" style="padding-top: 0px;">
			<% if @out_of_area %>
        <div class="bs-callout bs-callout-warning">
          <h4>We are not yet in your area, but we want to come soon!</h4>
          <p>You may still upload your own resources, and they will go live when we establish ourselves in your region. For now, you can check out an active area by searching "New York, NY"</p>
        </div>
      <% end %>
			<h5 style="margin-bottom: -5px;"><i class="fa fa-map-marker" style="color: #999;"></i> &nbsp; Location: <span style="font-weight: normal;"><%= @location %></span>
						    <div class="page_info">
		      <% @start, @end, @total = (page_entries_info @results).scan(/\d+/).map { |n| n.to_i } %>
		      <% if @end.presence and @end != nil and @end != "" %>
		      <span class="page-entries-info">Showing <%= @start %>-<%=@end%> of <%= @total%> Results.</span>
		      <% else %>
			      <% if @start.presence and @start != nil and @start != "" %>
							<span class="page-entries-info">Showing <%= @start %> results.</span>
						<% else %>
							<span class="page-entries-info">Showing 0 results.</span>
						<% end %>
		      <% end %>
		    </div>
			</h5> 
			<div class="pagination-container">
		    <%= will_paginate @results, renderer: BootstrapPagination::Rails, :params => { :location => @location } %>
		  </div>
		</div>
		<div>
	    <% @results.each do |r| %>
	      <%= render partial: "partials/resource", locals: {r: r} %>
	  	<% end %>
	  </div>
			<div class="pagination-container pagination-bottom">
		    <%= will_paginate @results, renderer: BootstrapPagination::Rails, :params => { :location => @location } %>
		  </div>
	</div>
</div>
