<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<style>
.pagination>li>a, .pagination>li>span {
	padding: 6px 10px;
}
h6 a {
	color: #000;
}
h6 a:hover {
	text-decoration: none;
	color: #000;
}
.search-filter-label {
	font-size: 12px;
}
.filters-list {
	margin-left: -20px;
}
@media (max-width: 768px) {
	.results-border-left {
		border-left: 0px solid transparent;
	}
	.resource-search-title {
		font-size: 11px;
	}
	.pad-detail-top {
		padding-top: 0px;
	}
	.dataTables_filter {
		text-align: left !important;
	}
	.dataTables_length {
		display: none;
	}
	.hide-sm {
		display: none;
	}
	.search-new-detail {
		border-bottom: 0px solid transparent;
	}
	.btn-sm {
		padding: 3px 8px;
		font-size: 11px;
	}
}
</style>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

<div class="container">
	<h3 class="default-h3-header">Resources on AbilityList</h3>
	<h4 class="default-h4-header">A list of helpful things A-Listers have shared with each other. Have something to contribute?
		<a class="blue-link" href="/resources/clarifyContent">Share it now.</a>
	</h4>
</div>

<div class="container">
	<div class="col-md-2">

		<div class="search-new-detail pad-detail-top">
			<h5>Location</h5>
    	<%= form_tag("/browse", id: "location-form", method: "get", class: "form-inline") do %>
    	  <div class="form-group">
          <div class="input-group">
            <input id="location" type="text" name="location" class="form-control" aria-describedby="sizing-addon1" placeholder="Postal code..." <% if @location %> value="<%= @location %>"<% end %> >
            <span class="input-group-addon" id="sizing-addon1" style="cursor:pointer;" onclick="document.getElementById('location-form').submit();"><i class="fa fa-map-marker"></i></span>
          </div>
				</div>
				<% if @tag %>
        <input type="hidden" name="tag" id="tag" value="<%= @tag %>">
        <% end %>
		</div>

		<div class="search-new-detail hide-sm" style="text-align: left;">
			<h4>Popular Searches<br><span style="color: #999; font-size: 11px;">(Select to filter by tag)</span></h4>
			<div class="search-filter">
				<% @most_used_tags.each do |t| %>
				<a href="#" onclick="javascript: appendTagList('<%= t %>', this)" class="blue-link" style="display: block;"><%= t %></a>
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
	<div class="col-md-10 results-border-left remove-padding-sm">





<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css
">
<style>
body { font-size: 140%; }
#resources-table_filter {
  padding-right: 50px;
}
</style>

<div class="container remove-padding-sm pad-detail-top">

	<div class="col-sm-12 remove-padding-sm">
	  <table class="table" id="resources-table", data-source="/classic_driver.json?location=<%= @location %>">
	    <thead>
	      <tr>
	        <th>Added</th>
	        <th>Name</th>
	        <th>Tags</th>
	        <th class="display-none-sm">Contributor</th>
	        <th class="display-none-sm">Distance</th>

	      </tr>
	    </thead>
	    <tbody>
	    </tbody>
	  </table>

	</div>

</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js
"></script>
<script type="text/javascript" charset="utf8" src="/js/bililiteRangeAndSendKeys.js"></script>


<script>

  var tag_has_been_set_after_successful_load = false;
  jQuery(document).ready(function() {
    $('#resources-table').dataTable({
      "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 2, 3 ] },
          { 'className': "display-none-sm", "targets": [ 3, 4 ] },
       ],
      "processing": true,
      "serverSide": true,
      "order": [[0, 'desc']],
      "ajax": $('#resources-table').data('source'),
      "pagingType": "full_numbers",
      "fnDrawCallback": function( oSettings ) {
          // Your function(s);
          <% if params[:tag].present? %>
          if ( tag_has_been_set_after_successful_load == false ) {
            set_search_field();
            tag_has_been_set_after_successful_load = true;
          }
          <% end %>
      }
    });
  });
<% if params[:tag].present? %>
  function set_search_field () {
    $('input[type=search]').sendkeys("<%= (params[:tag].length > 1) ? params[:tag][0, params[:tag].length/2] : params[:tag] %>");
    $('input[type=search]').sendkeys("<%= (params[:tag].length > 1) ? params[:tag][params[:tag].length/2, params[:tag].length] : ' ' %>");
  }
<% end %>


function appendTagList(string, ele) {

  var target = $('input[type=search]');

  target.val(string);

  //ele.style.display = 'none';


  for(var i = 0; i < string.length + 1; i++) {
  	$('input[type=search]').sendkeys("{rightarrow}");
  }

  $('input[type=search]').sendkeys("{del}");
  $('input[type=search]').sendkeys("{del}");

  target.val( target.val().trim() );


}

</script>







	</div>
</div>
