<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css
">
<style>
  body {
    font-size: 140%;
  }
  #people-table_filter {
    padding-right: 50px;
  }
  h6 a {
    color: #000;
  }
  h6 a:hover {
    text-decoration: none;
    color: #000;
  }
  .search-filter-label {
    font-size: 12px;
  }
  .filters-list {
    margin-left: -20px;
  }
  @media (max-width: 768px) {
    .display-none-sm {
      display: none;
    }
    .resource-search-user-avatar {
      height: 30px;
      margin-bottom: 0px;
    }
    .dataTables_filter {
      display: none;
    }
    .dataTables_length {
      display: none;
    }
    .max-width-80-sm {
      max-width: 80px;
    }
  }
</style>

<div class="container">
	<h3 class="default-h3-header">People on AbilityList</h3>
	<h4 class="default-h4-header">Here's the community of <%= User.format_this_num(User.count) %> people already sharing their stories.
    <a class="blue-link" href="/users/sign_up">Connect with us now.</a>
  </h4>
</div>

<div class="container">

  <table class="table" id="people-table", data-source="/people_data.json">
    <thead>
      <tr>
        <th>Joined</th>
        <th>Connect</th>
        <th>Tags</th>
        <th class="display-none-sm">Interested in</th>
        <th class="display-none-sm">Can share</th>
        <th class="display-none-sm">Location</th>
      </tr>
    </thead>
    <tbody>
      <!-- table will be loaded here -->
    </tbody>
  </table>


</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js
"></script>
<script type="text/javascript" charset="utf8" src="/js/bililiteRangeAndSendKeys.js"></script>


<script>

  jQuery(document).ready(function() {
    $('#people-table').dataTable({
      "processing": true,
      "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 1, 2, 3, 4, 5 ] },
          { 'className': "display-none-sm", "targets": [ 3,4,5 ] },
          { 'className': "max-width-80-sm", "targets": [ 0 ] }
       ],
      "order": [[0, 'desc']],
      "serverSide": true,
      "ajax": $('#people-table').data('source'),
      "pagingType": "full_numbers",
    });
  });

</script>
