<!DOCTYPE html>
<html>
<head>
  <title>Abilitylist</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.png">

  <!-- doesn't seem that Facebook pays much attention to these meta images, but we include them for good measure -->
  <% if @meta_img_url and @meta_img_url.length > 5%>
    <!-- custom meta image for this particular page -->
    <link rel="image_src" href="<%= @meta_img_url %>" />
    <% not_secure_link = @meta_img_url.dup %>
    <% not_secure_link[4] = '' %>
    <meta property="og:image" content="<%= not_secure_link %>"/>
    <meta property="og:image:secure_url" content="<%= @meta_img_url %>" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />

  <% else %>
    <!-- paste in default meta image for this particular page -->
    <link rel="image_src" href="https://abilitylist.s3.amazonaws.com/static-assets/abilitylist-landing-page.png" />
    <meta property="og:image" content="https://abilitylist.s3.amazonaws.com/static-assets/abilitylist-landing-page.png"/>
    <meta property="og:image:secure_url" content="https://abilitylist.s3.amazonaws.com/static-assets/abilitylist-landing-page.png" />
    <meta property="og:image:width" content="2000" />
    <meta property="og:image:height" content="1250" />
  <% end %>

  <!-- meta titles -->
  <% if @meta_title and @meta_title.length >  5%>
    <!-- there is a specific one for this page -->
    <meta property="og:title" content="<%= @meta_title %>" />
  <% else %>
    <!-- paste in default title -->
    <meta property="og:title" content="AbilityList -- Find and share disability resources, in your hometown and across the country." />
  <% end %>

  <!-- meta descriptions -->
  <% if @meta_description and @meta_description.length > 5 %>
    <!-- there is a specific one for this page -->
    <meta property="og:description" content="<%= @meta_description %>" />
  <% else %>
    <!-- paste in a default description -->
    <meta property="og:description" content="Our goal is to connect the 56 million Americans with disabilities (and those who support you!) with resources that work for you, in your hometown and across the country. We are a federally certified 501(c)3." />
  <% end %>

  <!-- meta type -->
  <meta property="og:type" content="website">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>

  <link rel="stylesheet" href="/css/navigation.css">
  <link rel="stylesheet" href="/css/style.css">
  <% if @landing or @about %><link rel="stylesheet" href="/css/landing.css"><% end %>
  <% if @about %><link rel="stylesheet" href="/css/about.css"><% end %>
  <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/fonts/font-awesome/font-awesome.min.css">

  <!-- Rainmaker donate widget -->
  <script src="https://assets.donate.io/static/widget/embed.js" type="text/javascript"></script>
  <script>var __rmSettings = {organization:'abilitylist'}</script>

</head>
<body>

  <!-- this box is near the back button, and when a user appears to go for the back button, we show a sign up modal -->
  <div id="topLeftMouseBox" aria-hidden="true" onclick="window.location='/'">
  </div>

  <!-- oftentimes, the very first image on a page is what gets shared (scraped) for Facebook, etc -->
  <div style="display: none;">
    <% if @meta_img_url %>
      <!-- there is a specific image for this page -->
      <img src="<%= @meta_img_url %>">
    <% else %>
      <!-- create a default image -->
      <img src="https://abilitylist.s3.amazonaws.com/static-assets/abilitylist-landing-page.png">
    <% end %>
  </div>
