<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a aria-label="Ability List Homepage Beta" class="navbar-brand nav-logo" href="/">
        <div class="nav-logo-aligner" aria-hidden="true">
          <span class="nav-logo-beta">BETA</span>
        </div>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a alt="How it Works" href="/about#how-this-works-a">How it Works</a></li>
        <li><a alt="Post a Resource" href="/resources/clarifyContent">Share</a></li>
        <li><a alt="Browse" href="/browse">Browse</a></li>
        <li><a alt="Browse" href="/people">People</a></li>
        <li><a alt="About" href="/about">About</a></li>
        <li>
          <a class="btn btn-info" id="nav-donate-transparent-btn" style="margin-right: 15px;" href="#/my/donate" aria-label="Donate">Donate Now</a>
          <a alt="Donate" id="nav-mobile-donate-btn" href="#/my/donate">Donate</a>
        </li>
        <% if user_signed_in? %>
        <li class="dropdown <% if @landing or @about%>user-session-tab<% end %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-label="Account options">
          <% if current_user.user_upload %>
            <div class="pull-left nav-profile-photo-wrapper" aria-hidden="true">
              <%= image_tag current_user.user_upload.photo.url(:thumb), :class => "pull-left nav-session-pic" %>
            </div>
          <% else %>
            <div class="pull-left nav-profile-photo-wrapper" aria-hidden="true">
              <img src="/img/users/avatar.jpg" class="pull-left nav-session-pic">
            </div>
          <% end %>

            &nbsp; <%= current_user.first_name || "Me" %></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/users/<%= current_user.id %>" aria-label="View profile">View Profile</a></li>
            <li><a href="<%= edit_user_path(current_user)%>" aria-label="Edit Profile">Edit Profile</a></li>
            <li><a href="/users/<%= current_user.id %>/conversations" aria-label="Conversations">Conversations</a></li>

            <% if user_signed_in? and current_user.permissions > 0 %>


            <li class="divider"></li>
            <li class="dropdown-header">Admin</li>
            <li><a href="/users">Users</a></li>
            <li><a href="/resources">Resources</a></li>

            <% end %>

            <li class="divider"></li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, 'aria-label' => "Logout" %></li>
          </ul>
        </li>
        <% else %>
          <li>
            <a href="/users/sign_in" aria-label="Login or sign up">Login / Sign Up</a>
          </li>
        <% end %>
        <% if @landing %>
        <li>
          <ul class="list-inline nav-social-list">
            <li id="icon-li"><a target="_blank" href="https://www.facebook.com/AbilityList" aria-label="Go to Facebook page"><i class="fa fa-facebook icon-circle" style="padding: 4px 7px;" aria-hidden="true"></i></a></li>
            <li id="icon-li"><a target="_blank" href="https://twitter.com/abilitylist" aria-label="Go to Twitter page"><i class="fa fa-twitter icon-circle" aria-hidden="true"></i></a></li>
            <li id="icon-li"><a target="_blank" href="https://www.youtube.com/channel/UCaqLH8b3pyDd8bLw5SAMQtg" aria-label="Go to Youtube page"><i class="fa fa-youtube icon-circle" aria-hidden="true"></i></a></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
