ul.affix {
    position: fixed; 
    top: 50px;
    left: 100px;
    width: 293px;
}
ul.affix-top {
    position: fixed; 
    top: 50px;
    left: 100px;
    width: 293px;
}
ul.affix-bottom {
    position: absolute;
}

/* First level of nav */
.sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
}

/* Nav: second level */
.sidebar .nav .nav {
  margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}
#content {
    margin-top:30px;
    }
.about-chev {
  color: #C1C8D0;
  padding-right: 10px;
  padding-top: 15px;
}
h3 {
  color: #666666;
}
.team-pics {
  border-radius: 4px;
  width: 75%;
}
a.anchor{display: block; position: relative; top: -70px; visibility: hidden;}
p {
  font-weight: 300;
}


/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #F0F4F5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 40px;
    line-height: 40px;
    /* border-bottom: 1px solid #5E6368; */
}

.sidebar-nav li .active {
    background: #C0C7CF;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #21201E;
    font-weight: 500;
    font-size: 17px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: #C0C7CF;
}
.scroll-spy {
    border-right: 3px solid #999;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #838384;
    font-weight: normal;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #838384;
    background: none;
}
.team-member-photo {
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 50%;
    max-width: 225px;
    padding-bottom: 15px;
}
.board-member-photo {
    margin-left: -41px;
    max-width: 260px;
}
.be-involved-sub-heading {
    color: #3AB2CE;
    font-size: 24px;
    font-weight: 200;
}
.pad-sub-heading {
    padding-top: 50px;
}
.be-involved-row {
    color: #909192;
}
.sign-up-tablet {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.donate-heart-with-line {
    margin-right: -73px;
}

@media(min-width:992px) {
    .social-media-chat {
        float: right;
    }
    .be-involved-row {
        border-bottom: 1px solid #A0A1A2; 
    }
    .be-involved-col {
        border-right: 1px solid #A0A1A2;
    }
}

@media(max-width:991px) {
    .donate-heart-with-line {
        display: none;
    }
    .be-involved-sub-heading {
        padding-top: 50px;
    }
    .social-media-chat {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
