body {
 /* background: url('./../img/background.jpg');
  background-position: center bottom; */
}
* {
	margin: 0;
}
:focus {
outline: 0;
}
html, body {
	height: 100%;
}
.scroll-arrow {
	margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}
.arrows-left-right {
	margin-top: 160px;
	cursor: pointer;
}
.wrapper {
	height: 450px;
	/*margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
	color: #fff;
	text-align: center;
	font-size: 15px;
}
.share-form-right {
	padding-right: 20px;
}
.share-form-left {
	padding-left: 20px;
}

.landing-wrapper-1 {
	height: 450px;
}
.landing-h1 {
	color: #000;
	font-weight: bold;
	color: #333030;
	font-size: 45px;
}
#search-location {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	width: 75px;
}
.margin-3 {
	margin-top: 3px;
	margin-bottom: 3px;
}
.landing-post-a-resource {
	max-width: 460px;
	margin-left: auto;
	margin-right: auto;
}
.landing-everything-they-need {
	max-width: 595px;
	margin-left: auto;
	margin-right: auto;
}
.landing-send-us-an-email {
	max-width: 390px;
	margin-left: auto;
	margin-right: auto;
}
.landing-laptop {
	width: 100%;
	max-width: 300px;
	display:block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
#location-canvas {
	display: inline-block;
}
.landing-daniel {
	width: 100%;
	max-width: 250px;
	margin-top: 13px;
}
.footer-wrapper {
  background: #00ACC8;
}
.icon-circle {
  color: #363C42;
 }
.padded {
	padding-top: 7%;
}
.navbar-inverse {
	background: #00ACC8;
}
.footer-wrapper {
	background: #00ACC8;
}
.donate-wrapper {
	background: #00ACC8;
	padding: 25px;
	height: auto;
}
.how-it-works-wrapper {
	background: #F1F4F5;
	padding: 25px;
	height: auto;
	font-weight:200;
	color: #595656;
}
.btn-sm {
	margin-top: 5px;
}
.journey-description {
	margin-top: 70px;
  text-align: center;
  font-weight: normal;
	padding-left: 20px;
  padding-right: 20px;
}
.journey-app-photo {
	width: 100%;
  max-width: 376px;
}
.app-store-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	cursor: pointer;
}
.submit-resource-wrapper {
	background: #F1F4F5;
	padding: 25px;
	height: auto;
	font-weight:200;
	color: #595656;
}
.featured-tags-container {
	padding-top: 15px;
	padding-right: 15px;
}
.story-wrapper {
	background: #FFF;
	padding: 25px;
	height: auto;
	font-weight:200;
	color: #595656;
	text-align: left;
}
.btn-block-donate {
	background: #FD7063;
	border-color: #FD7063;
}
.btn-block-donate:hover {
	background: #F25648;
	border-color: #F25648;
}
.btn-block-donate:focus {
	background: #F25648;
	border-color: #F25648;
}
#prompt-canvas {
	text-align: center;
	margin-top: 20px;
	color: #B7BBC2;
	font-size: 22px;
	font-weight: 300;
	font-size: 26px;
}
.landing-nyc-skyline {
	margin-top: -190px;
}
/* this overwrites the class only for the landing page */
.icon-circle-white {
  color: #363C42;
  border: 3px solid #363C42;
}
.user-session-tab {
	background: #009ab2;
	box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.1);
}
.featured-resources-scroll-container {
	min-height: 400px;
}
.scroll-enabled {
	position: absolute;
}

@media (min-width: 992px) {
	.modal-lg
	{
	  width: 900px;
	}
}
@media (max-width: 991px) {
	.scroll-enabled {
		position: relative;
	}
	.landing-nyc-skyline {
		width: 100%;
  	margin-top: -178px;
	}
	.share-form-right {
		padding-right: 0px;
	}
	.share-form-left {
		padding-left: 0px;
	}
	.arrows-left-right{
		display: none;
	}
}
@media (max-width: 787px) {
	.landing-nyc-skyline {
  	margin-top: -175px;
	}
}
@media (max-width: 767px) {
	.landing-nyc-skyline {
		width: 240px;
		margin-top: -107px;
	}
	.journey-description {
		margin-top: 25px;
  	padding-left: 5px;
  	padding-right: 5px;
	}
	#search-location {
		width: 65px;
		border-radius: 0px;
	}
	.landing-h1 {
		font-size: 30px;
	}
	#prompt-canvas {
		font-size: 17px;
	}
	.landing-wrapper-1 {
		height: 320px;
	}
}
