= form_for @conversation do |f|
  - if @conversation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@conversation.errors.count, "error")} prohibited this conversation from being saved:"
      %ul
        - @conversation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :last_message_sent_at
    = f.datetime_select :last_message_sent_at
  .field
    = f.label :access_token
    = f.text_field :access_token
  .actions
    = f.submit 'Save'
