%h1 Listing conversations

%table
  %thead
    %tr
      %th Last message sent at
      %th Access token
      %th
      %th
      %th

  %tbody
    - @conversations.each do |conversation|
      %tr
        %td= conversation.last_message_sent_at
        %td= conversation.access_token
        %td= link_to 'Show', conversation
        %td= link_to 'Edit', edit_conversation_path(conversation)
        %td= link_to 'Destroy', conversation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Conversation', new_conversation_path
