%p#notice= notice

%p
  %b Last message sent at:
  = @conversation.last_message_sent_at
%p
  %b Access token:
  = @conversation.access_token

= link_to 'Edit', edit_conversation_path(@conversation)
\|
= link_to 'Back', conversations_path
