<div class="bs-callout bs-callout-info">
		<h4><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> &nbsp;Administrator</h4>
		<div style="padding-left: 25px;">
			<a href="/users">View Users</a> &nbsp; | &nbsp; 
			<a href="/resources">View Resources</a> &nbsp;
		</div>
</div>

<style>
.bs-callout-info {
	color: #789657;
}
</style>