<div class="resource-breadcrumb">
	<div class="container">
		<div class="row">
			<% if active == 0 %>
			<div class="col-sm-3 resource-breadcrumb-text breadcrumb-active">
					<i class="fa fa-circle-thin fa-lg"></i> &nbsp;&nbsp;
			<% elsif @resource.basics_complete == true %>
			<div class="col-sm-3 resource-breadcrumb-text breadcrumb-completed" onclick="window.location='/resources/<%= @resource.id %>/edit';">
					<i class="fa fa-check-circle-o fa-lg"></i> &nbsp;&nbsp;
			<% else %>
			<div class="col-sm-3 resource-breadcrumb-text">
					<i class="fa fa-circle-thin fa-lg"></i> &nbsp;&nbsp;
			<% end %>
				THE BASICS
			</div>
			<% if active == 1 %>
			<div class="col-sm-3 resource-breadcrumb-text breadcrumb-active">
					<i class="fa fa-circle-thin fa-lg"></i> &nbsp;&nbsp;
			<% elsif @resource.categories_complete == true %>
			<div class="col-sm-3 resource-breadcrumb-text breadcrumb-completed" onclick="window.location='/resources/<%= @resource.id %>/categories';" >
					<i class="fa fa-check-circle-o fa-lg"></i> &nbsp;&nbsp;
			<% else %>
			<div class="col-sm-3 resource-breadcrumb-text">
					<i class="fa fa-circle-thin fa-lg"></i> &nbsp;&nbsp;			
			<% end %>
				CATEGORIES
			</div>
			<% if active == 2 %>
			<div class="col-sm-3 resource-breadcrumb-text breadcrumb-active">
					<i class="fa fa-circle-thin fa-lg"></i> &nbsp;&nbsp;
			<% elsif @resource.weblinks_complete == true %>
			<div class="col-sm-3 resource-breadcrumb-text breadcrumb-completed" onclick="window.location='/resources/<%= @resource.id %>/weblinks';">
					<i class="fa fa-check-circle-o fa-lg"></i> &nbsp;&nbsp;
			<% else %>
			<div class="col-sm-3 resource-breadcrumb-text">
					<i class="fa fa-circle-thin fa-lg"></i> &nbsp;&nbsp;			
			<% end %>
				WEBLINKS
			</div>
			<% if active == 3 %>
			<div class="col-sm-3 resource-breadcrumb-text breadcrumb-last breadcrumb-active">
					<i class="fa fa-circle-thin fa-lg"></i> &nbsp;&nbsp;
			<% elsif @resource.photo_complete == true %>
			<div class="col-sm-3 resource-breadcrumb-text breadcrumb-completed breadcrumb-last" onclick="window.location='/resources/<%= @resource.id %>/photo';">
					<i class="fa fa-check-circle-o fa-lg"></i> &nbsp;&nbsp;
			<% else %>
			<div class="col-sm-3 resource-breadcrumb-text breadcrumb-last">
					<i class="fa fa-circle-thin fa-lg"></i> &nbsp;&nbsp;			
			<% end %>
				PHOTO
			</div>
		</div>
	</div>
</div>