<div class="row resource-partial">
	<div class="col-sm-3">
    <div class="resource-partial-photo" onclick="window.location='/resources/new'">
      <img src="/img/about/post-resource-laptop.png" class="resource-partial-fitted-image">
    </div>
	</div>
	<div class="col-sm-7 resource-partial-pad-left <% if @search_layout %> large-pad <% end %>">
		<h4 class="resource-partial-title-container"><a class="resource-partial-name" href="/resources/new">Post a New Resource</a>
		</h4>
		<div class="resource-profile-review-count" style="color: #999; margin-left: 5px; padding-top: 3px; text-transform: none;"> &nbsp;
			AbilityList is a community based on sharing
		</div>
		<a class="btn btn-info" style="margin-top: 25px;" href="/resources/new" rel="nofollow">Click to Upload A Resource</a>
	</div>
	<div class="col-sm-2">
		<img onclick="window.location='/resources/new'" class="resource-partial-map" src="<%= small_map_url(40.198721,-97.247031) %>"/>
		<div onclick="window.location='/resources/new'" class="resource-partial-map-caption">
			-
		</div>
	</div>
</div>