<%-# there is a possibility this partial (for one resource) will be on a page twice -%>
<%-# user owns a resource & favorites it for example, so we pass in this fussy flag to -%>
<%-# differentiate between the two -%>
<% unless (defined?(saved)).nil? %>
	<% saved = false %>
<% else %>
	<% saved = true %>
<% end %>
<%-# end flag system -%>

<div class="row resource-partial">
	<div class="col-sm-2">
	  <% if r.resource_upload %>
	    <div class="resource-partial-photo" onclick="window.location='/resources/<%=r.id%>'">
	      <%= image_tag r.resource_upload.photo.url(:medium), :class => "resource-partial-fitted-image" %>
	    </div>
	  <% else %>
	    <div class="resource-partial-photo">
	    </div>
	  <% end %>
	</div>
	<div class="col-sm-8 resource-partial-pad-left <% if @search_layout %> large-pad <% end %>">
		<h4 class="resource-partial-title-container"><a class="resource-partial-name" href="/resources/<%=r.id%>"><%= r.name %></a>
      <% if user_signed_in? %>
        <% if current_user.can_edit_resource(r.user_id) %>
	        <% if r.is_published %>
	        	<% if r.status == 1 %>
	          	<span style="font-size: 9px; cursor:pointer;" onclick="window.location='/about'" class="label label-default"><% unless r.nationwide == 1 %>Outside Area<% else %>Nationwide<% end %></span>	 
	          <% end %>       
	        <% else %>
	          <span style="font-size: 9px; cursor:pointer;" onclick="window.location='/resources/<%= r.id %>/edit'" class="label label-default">Not Complete</span>
	        <% end %>
        <% end %>
      <% end %>
		</h4>
		<h5 class="resource-partial-comments">
			<div id="raty_average-<%=r.id%>" style="font-size: 11px; float: left; margin-top: 3px; margin-bottom: 3px;"></div>
			<script>
			  $('#raty_average-<%= r.id %>').raty({
			    score: <%= r.current_average_rating %>,
			    cancel   : false,
			    half     : true,
			    starType : 'i',
			    readOnly: true
			  });
			</script>

		<div class="resource-profile-review-count" style="color: #999; margin-left: 8px; padding-top: 3px; "> &nbsp;
		  <% num_ratings = r.ratings.length %>
		  <%if num_ratings == 0 %>
		    0 Reviews
		  <% elsif num_ratings == 1 %>
		    1 Review
		  <% else %>
		    <%= num_ratings %> Reviews
		  <% end %>
		</div>
		</h5>

		<div style="height: 5px;"></div>
		<div>
		<% count = 0 %>
		<% r.tags.each do |t| %>
			<% if count < 7 %>
				<a type="button" class="btn btn-default btn-sm"><%= t.name %></a>
        <% count = count + 1 %>
      <% else %>
        <% break %>
      <% end %>
		<% end %>

		<% if r.tags.length - 1 > 6 %>
		<div id="more-text-<%= r.id %><% if saved == true %>-s<% end %>" class="more-text">
			<p>	
				<% r.tags[count..-1].each do |t| %>
					<a type="button" class="btn btn-default btn-sm"><%= t.name %></a>
				<% end %>
			</p>
		</div>
		<a type="button" class="btn btn-default btn-sm" id="toggle-tags-button-<%= r.id %><% if saved == true %>-s<% end %>">...</a>
    <script>
      $( "#toggle-tags-button-<%= r.id %><% if saved == true %>-s<% end %>" ).click(function() {
        $( "#more-text-<%= r.id %><% if saved == true %>-s<% end %>" ).slideToggle( "fast", function() {
        });
      });
    </script>
		<% end %>
		</div>
	</div>
	<div class="col-sm-2">
		<img onclick="window.location='/resources/<%=r.id%>'" class="resource-partial-map" src="https://maps.googleapis.com/maps/api/staticmap?center=<%=r.latitude%>,<%=r.longitude%>&zoom=12&scale=2&size=150x100&maptype=roadmap&markers=color:green%7Clabel:%7C<%=r.latitude%>,<%=r.longitude%>&key=AIzaSyB7q747xCH7MUXcaRbUUHlViVQXUvRZP34"/>
		<div onclick="window.location='/resources/<%=r.id%>'" class="resource-partial-map-caption">
			<% if r.nationwide == 1 %>
				Nationwide
			<% elsif @search_layout %>
				<%= r.formatted_distance_from_location(@location) %>
			<% else %>
				<%= r.formatted_distance_from_user(user_signed_in?, current_user) %>
			<% end %>
		</div>
	</div>
</div>