<%= render 'resources/partials/categories_selector_elements' %>

<script>

  <%= render 'resources/partials/categories_js_globals' %>

  function initialize() {

  	remove_selected_tags_from_non_selected_array("life-situations");
  	remove_selected_tags_from_non_selected_array("non-profit-services");
  	remove_selected_tags_from_non_selected_array("housing");
  	remove_selected_tags_from_non_selected_array("for-profit-services");
  	remove_selected_tags_from_non_selected_array("jobs");
  	remove_selected_tags_from_non_selected_array("marketplace");
  	remove_selected_tags_from_non_selected_array("one-time");


    if (selected_life_situations.length > 2) {
      // console.log("1. selected life situations is: " + selected_life_situations.length);
      fill_container_with_array_of_objects(non_selected_life_situations, 3, "life-situations");
      fill_container_with_array_of_objects(selected_life_situations, 2, "life-situations");
    } else {
      // console.log("2. selected life situations is: " + selected_life_situations.length);
      fill_container_with_array_of_objects(non_selected_life_situations, 1, "life-situations");
      fill_container_with_array_of_objects(selected_life_situations, 2, "life-situations");
    }

  	fill_container_with_array_of_objects(non_selected_non_profit_services, 1, "non-profit-services");
  	fill_container_with_array_of_objects(selected_non_profit_services, 2, "non-profit-services");

  	fill_container_with_array_of_objects(non_selected_for_profit_services, 1, "for-profit-services");
  	fill_container_with_array_of_objects(selected_for_profit_services, 2, "for-profit-services");

  	fill_container_with_array_of_objects(non_selected_jobs, 1, "jobs");
  	fill_container_with_array_of_objects(selected_jobs, 2, "jobs");

  	fill_container_with_array_of_objects(non_selected_housing, 1, "housing");
  	fill_container_with_array_of_objects(selected_housing, 2, "housing");

  	fill_container_with_array_of_objects(non_selected_marketplace, 1, "marketplace");
  	fill_container_with_array_of_objects(selected_marketplace, 2, "marketplace");

  	fill_container_with_array_of_objects(non_selected_one_time, 1, "one-time");
  	fill_container_with_array_of_objects(selected_one_time, 2, "one-time");

  }

  function create_tag(resource_id, tag_id, container) {

  	// work with the correct tag arrays based on container name
  	<%= render 'resources/partials/category_array_switch' %>

  	var create_url = "/resources_tags/" + resource_id + "/" + tag_id + "/create";

		$.ajax({
		  url: create_url,
		  type: 'POST',
		  context: document.body
		}).done(function() {

			// comb out tag that moved from unselected to selected 
	  	var temp = [];
	  	var i = 0;
	  	while( i < non_selected.length ) {
	  		if ( non_selected[i].id != tag_id ) {
	  			temp.push(non_selected[i]);
	  		} else {
	  			selected.push(non_selected[i]);
	  		}
	  		i++;
	  	}

	  	var destroy = 0;
	  	var no_fill = 0;
	  	// update visuals to reflect this change
  		<%= render 'resources/partials/category_array_update_switch' %>

		});
  }

  function destroy_tag(resource_id, tag_id, container) {

  	<%= render 'resources/partials/category_array_switch' %>

  	var destroy_url = "/resources_tags/" + resource_id + "/" + tag_id + "/destroy";

		$.ajax({
		  url: destroy_url,
		  type: 'POST',
		  context: document.body
		}).done(function() {

			//comb out the tag that moved from selected to unselected
	  	var temp = [];
	  	var i = 0;
	  	while( i < selected.length ) {
	  		if ( selected[i].id != tag_id ) {
	  			temp.push(selected[i]);
	  		} else {
	  			non_selected.push(selected[i]);
	  		}
	  		i++;
	  	}

	  	var destroy = 1;
  		var no_fill = 0;
	  	// update visuals to reflect this change
  		<%= render 'resources/partials/category_array_update_switch' %>

  	});
  }

  $( document ).ready(function() {
    initialize();
  });

  <%= render 'resources/partials/categories_js_helper_functions' %>

</script>

