<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Non-Profit Services/ Offerings
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="non-selected-non-profit-services-container">
        </div>
        <div style="margin: 5px;">SELECTED:</div>
        <div id="selected-non-profit-services-container">
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          One Time Events
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="non-selected-one-time-container">
        </div>
        <div style="margin: 5px;">SELECTED:</div>
        <div id="selected-one-time-container">
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Jobs
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="non-selected-jobs-container">
        </div>
        <div style="margin: 5px;">SELECTED:</div>
        <div id="selected-jobs-container">
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Services (For-Profit)
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="non-selected-for-profit-services-container">
        </div>
        <div style="margin: 5px;">SELECTED:</div>
        <div id="selected-for-profit-services-container">
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Marketplace / products
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="non-selected-marketplace-container">
        </div>
        <div style="margin: 5px;">SELECTED:</div>
        <div id="selected-marketplace-container">
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          Housing
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        <div id="non-selected-housing-container">
        </div>
        <div style="margin: 5px;">SELECTED:</div>
        <div id="selected-housing-container">
        </div>
      </div>
    </div>
  </div>
</div>
