var resource_id = <%= params[:id] %>;

// LIFE SITUATIONS

var non_selected_life_situations = [
  <% l = @life_situations.length %>
  <% i = 1 %>
  <% @life_situations.each do |ls| %>
    <% if i < l %>
      {name: "<%= ls.name %>", id: "<%= ls.id %>"},
    <% else %>
      {name: "<%= ls.name %>", id: "<%= ls.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

var selected_life_situations = [
  <% l = @current_tags.length %>
  <% i = 1 %>
  <% @current_tags.each do |ct| %>
    <% if i < l && ct.life_situation == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"},
    <% elsif ct.life_situation == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

// NON-PROFIT SERVICES

var non_selected_non_profit_services = [
  <% l = @non_profit_services.length %>
  <% i = 1 %>
  <% @non_profit_services.each do |nps| %>
    <% if i < l %>
      {name: "<%= nps.name %>", id: "<%= nps.id %>"},
    <% else %>
      {name: "<%= nps.name %>", id: "<%= nps.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

var selected_non_profit_services = [
  <% l = @current_tags.length %>
  <% i = 1 %>
  <% @current_tags.each do |ct| %>
    <% if i < l && ct.nonprofit_services == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"},
    <% elsif ct.nonprofit_services == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

// FOR-PROFIT SERVICES

var non_selected_for_profit_services = [
  <% l = @for_profit_services.length %>
  <% i = 1 %>
  <% @for_profit_services.each do |fps| %>
    <% if i < l %>
      {name: "<%= fps.name %>", id: "<%= fps.id %>"},
    <% else %>
      {name: "<%= fps.name %>", id: "<%= fps.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

var selected_for_profit_services = [
  <% l = @current_tags.length %>
  <% i = 1 %>
  <% @current_tags.each do |ct| %>
    <% if i < l && ct.forprofit_services == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"},
    <% elsif ct.forprofit_services == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

// JOBS

var non_selected_jobs = [
  <% l = @jobs.length %>
  <% i = 1 %>
  <% @jobs.each do |j| %>
    <% if i < l %>
      {name: "<%= j.name %>", id: "<%= j.id %>"},
    <% else %>
      {name: "<%= j.name %>", id: "<%= j.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

var selected_jobs = [
  <% l = @current_tags.length %>
  <% i = 1 %>
  <% @current_tags.each do |ct| %>
    <% if i < l && ct.jobs == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"},
    <% elsif ct.jobs == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

// HOUSING

var non_selected_housing = [
  <% l = @housing.length %>
  <% i = 1 %>
  <% @housing.each do |j| %>
    <% if i < l %>
      {name: "<%= j.name %>", id: "<%= j.id %>"},
    <% else %>
      {name: "<%= j.name %>", id: "<%= j.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

var selected_housing = [
  <% l = @current_tags.length %>
  <% i = 1 %>
  <% @current_tags.each do |ct| %>
    <% if i < l && ct.housing == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"},
    <% elsif ct.housing == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

// MARKETPLACE 

var non_selected_marketplace = [
  <% l = @marketplace.length %>
  <% i = 1 %>
  <% @marketplace.each do |j| %>
    <% if i < l %>
      {name: "<%= j.name %>", id: "<%= j.id %>"},
    <% else %>
      {name: "<%= j.name %>", id: "<%= j.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

var selected_marketplace = [
  <% l = @current_tags.length %>
  <% i = 1 %>
  <% @current_tags.each do |ct| %>
    <% if i < l && ct.marketplace == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"},
    <% elsif ct.marketplace == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

// JOBS

var non_selected_one_time = [
  <% l = @one_time.length %>
  <% i = 1 %>
  <% @one_time.each do |j| %>
    <% if i < l %>
      {name: "<%= j.name %>", id: "<%= j.id %>"},
    <% else %>
      {name: "<%= j.name %>", id: "<%= j.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];

var selected_one_time = [
  <% l = @current_tags.length %>
  <% i = 1 %>
  <% @current_tags.each do |ct| %>
    <% if i < l && ct.one_time == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"},
    <% elsif ct.one_time == true %>
      {name: "<%= ct.name %>", id: "<%= ct.id %>"}
    <% end %>
    <% i = i + 1 %>
  <% end %>
];