<div class="row form-row form-row-border-bottom">
  <div class="col-sm-4">
    LIFE SITUATIONS
    <div style="font-size: 11px;">(Select at least one. Maximum three.)</div>
  </div>
  <div class="col-sm-8">
    <div id="non-selected-life-situations-container">
    </div>
    <div style="margin: 5px;">SELECTED:</div>
    <div id="selected-life-situations-container">
    </div>
  </div>
</div>

<div class="row form-row form-row-border-bottom">
  <div class="col-sm-4">
    CATEGORIES
    <div style="font-size: 11px;"></div>
  </div>
  <div class="col-sm-8">
    <%= render 'resources/partials/categories_accordion' %>
  </div>
</div>

