function fill_container_with_array_of_objects(array_of_objects, options, container ) {

	var content_string = "";
  var i = 0;
  while(i < array_of_objects.length) {
  	content_string += " <a type='button' ";

  	if (options == 1) { 
      // create tag
			content_string +=	" onclick='create_tag(" + resource_id + ", " + array_of_objects[i].id + ", &quot;" + container + "&quot;);' ";
  	}
    if (options == 2) {
      // destroy tag
      content_string += " onclick='destroy_tag(" + resource_id + ", " + array_of_objects[i].id + ", &quot;" + container + "&quot;);' ";
    }
    if (options == 3) { 
      // disabled tag
      // console.log("Disabled tag was triggered");
      content_string += "  ";
    }

    if (options == 3) {
     content_string += " class='btn btn-default btn-sm btn-margin' disabled='disabled'>";
    } else {
  	 content_string += " class='btn btn-default btn-sm btn-margin'>";
    }

    /* in the case we're printing selected tags,
      include a red 'X' icon */
    if (options == 2) { 
      content_string += " <i class='fa fa-times fa-red'></i> &nbsp; ";
    }

    content_string += array_of_objects[i].name + "</a> ";
    i++;
  }

  if (options == 1 || options == 3) {
    document.getElementById("non-selected-" + container + "-container").innerHTML = content_string;
  } else {
    document.getElementById("selected-" + container + "-container").innerHTML = content_string;
  }
}

function remove_selected_tags_from_non_selected_array(container) {

  // work with the correct tag arrays based on container name
  <%= render 'resources/partials/category_array_switch' %>

  //clone
  var temp = non_selected.slice(0);

  var i = 0;
  while( i < temp.length ) {
    var flag = 1;
    var j = 0;
    while( j < selected.length ) {
      if ( temp[i] != undefined ) {
        if ( temp[i].id == selected[j].id ) {
          temp.splice(i,1);
          flag = 0;
        }
      }
      j++;
    }
    if (flag) {
      i++;
    }
  }

  var destroy = 0;
  var no_fill = 1;
  // update array using this switch with no_fill option
  <%= render 'resources/partials/category_array_update_switch' %>
}