<% @related_resources.each do |r| %>
<div class="row resource-partial">
	<div style="float: left; padding-left: 15px;">
	  <% if r.resource_upload %>
	    <div onclick="window.location='/resources/<%=r.id%>'" style="cursor: pointer;">
	      <%= image_tag r.resource_upload.photo.url(:thumb), :class => "" %>
	    </div>
	  <% else %>
	    <div class="resource-partial-photo" style="width: 60px; height: 60px; background: #eee;">
	    </div>
	  <% end %>
	</div>
	<div style="float: right; width: 65%;">
		<h6 class="resource-partial-title-container"><a class="resource-partial-name" href="/resources/<%=r.id%>"><%= r.name %></a>
		</h6>
	</div>
</div>
<% end %>