<!-- Modal -->
<div class="modal fade" id="unservicedAreaModal" tabindex="-1" role="dialog" aria-labelledby="unservicedAreaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Resource Outside of Ability List Areas</h3>
      </div>
      <div class="modal-body">
        <p class="lead">We were able to validate your address to the approximate location, '<%= @resource.validated_city %>, <%= @resource.validated_postal %>, <%= @resource.validated_country %>.' If you believe this is a mistake <a href="/resources/<%= @resource.id %>/edit">click here</a> to re-enter the address.</p>

        <div class="bs-callout bs-callout-warning">
          <h4>We have yet to establish ourselves in your area</h4>
          <p>Don't worry, we're coming soon! One of the ways you can help us is to complete this resource profile with details and a photo. Though it won't show up in search results for the moment, we monitor this activity and consult it when considering what areas of the country have the greatest interest in Ability List. When we do make the move, your resource will go live automatically.</p>
        </div>
        <p>To learn more about our expansion process, visit <a href="/about">About - expansion.</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay, got it.</button>       
      </div>
    </div>
  </div>
</div>
<script>
  $( document ).ready(function() {
    $('#unservicedAreaModal').modal();
  });
</script>
<style>
  body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
      margin-right: 0;
  }

  .modal {
      overflow-y: auto;
  }
</style>