<div class="container">
  <h2 style="font-weight: 300; text-align: center;">Editing User Profile</h2>
  <h4 style="font-weight: 300; text-align: center; color: #999;">We're so glad you're here with us.</h4>
</div>

<div class="container resource-form-container">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :first_name, "NAME" %><br>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :first_name, :class => "form-control", :placeholder => "first name" %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :last_name, :class => "form-control", :placeholder => "last name" %>
    </div>
  </div>
  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :email, "EMAIL" %><br>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :email, :class => "form-control", :placeholder => "email" %>
    </div>
  </div>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :tag_list, "TAGS ABOUT ME (optional)" %><br>
    </div>
    <div class="col-sm-8">
      <%= f.autocomplete_field :epithet_list, autocomplete_epithet_name_users_path, :value => @user.epithet_list, :class => "form-control", :"data-delimiter" => ', ', :placeholder => "examples: wheelchair user, musician, blogger, mother" %>
    </div>
  </div>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :interested_in, "INTERESTED IN (optional)" %><br>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :interested_in, :class => "form-control" %>
    </div>
  </div>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :can_share, "CAN SHARE (optional)" %><br>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :can_share, :class => "form-control" %>
    </div>
  </div>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :dob, "DATE OF BIRTH" %><br>
    </div>
    <div class="col-sm-8">
    <%= date_select(:user, :dob, options = {start_year: 1900, order: [:month, :day, :year]}, html_options = {:class => "form-control", :style => "width: 31%; float: left;"}) %>
    </div>
  </div>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :address_street, "ADDRESS" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :address_street, :placeholder => "street number and street name", :class => "form-control", :style => "margin-top: 4px;" %>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-8">
      <%= f.text_field :address_city, :placeholder => "city", :class => "form-control", :style => "margin-top: 4px;" %>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-5">
      <%= f.select(:address_state, us_states, {include_blank: false}, {class: "form-control inline-input", style: "margin-top: 4px;"}) %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :address_postal, :placeholder => "postal code", :class => "form-control inline-input", :style => "margin-top: 4px;" %>
    </div>
  </div>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :phone, "PHONE" %><br>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :phone, :class => "form-control", :placeholder => "phone" %>
    </div>
  </div>

  <div class="actions flow-submit-container">
    <a type="btn" class="btn btn-default" href="/users/<%= @user.id %>">Back</a>
    <input type="submit" value="Save Changes" class="btn btn-info" style="margin-left: 15px;">
  </div>
<% end %>
</div>

<script>

/* this hides the 'no existing matches' response when the tag doesn't exist */
$(user_epithet_list).on('autocompleteresponse', function(event, ui) {
      var content;
      if (((content = ui.content) != null ? content[0].id.length : void 0) === 0) {
        $(this).autocomplete('close');
      }
  });

</script>
