<!-- Material Design Lite -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/material-1-1-3.css">
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<style>
  .site-content-wrapper {
    background-color: #F5F5F5;
  }
</style>

<div class="container">
	<h3 style="font-weight: 300; text-align: center;">Conversations</h3>
	<h4 style="font-weight: 300; text-align: center; color: #999;">This is where you can talk with other A-Listers</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% @conversations.each do |c| %>
        <% if c.users.length > 1 %>
          <div class="panel panel-default" style="cursor: pointer;" onclick='window.location="/users/<%= current_user.id %>/conversations/<%= c.id %>"'>
            <div class="panel-body">
              <% c.users.each do |p| %>
                <% if p.id != current_user.id %>
                  <% if p.user_upload %>
                    <%= image_tag p.user_upload.photo.url(:medium), :class => "chat-message-pic pull-left" %>
                  <% else %>
                    <img src="/img/users/avatar.jpg" class="chat-message-pic pull-left">
                  <% end %>
                  <h6 style="margin-left: 15px; line-height: 0px;"><%= p.first_name %> <%= p.last_name %></h6>
                  <% if c.last_message_sent_at %>
                    <span class="chat-message-detail">last message <%= time_ago_in_words(c.last_message_sent_at) %> ago</span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
