<!-- Material Design Lite -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/material-1-1-3.css">
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

<!-- App Styling -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="/css/chat-main.css">
<div class="container">
	<h2 style="font-weight: 300; text-align: center; margin-top: 30px;">
    Your conversation with <%= @other_participant.first_name %>
  </h2>
	<h4 style="font-weight: 300; text-align: center; color: #999;">
    Remember to stay safe! Never share things like bank or credit card information.
  </h4>
</div>

<div class="container chat-content-container">
  <div class="col-md-4 remove-padding-sm">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
      <% if @other_participant.user_upload %>
        <div class="chat-participant-image-wrapper">
          <%= image_tag @other_participant.user_upload.photo.url(:medium), :class => "chat-participant-image" %>
        </div>
      <% else %>
        <div class="chat-participant-image-wrapper">
          <img src="/img/users/avatar.jpg" class="chat-participant-image">
        </div>
      <% end %>
      <span class="other-participant-detail">
        <%= @other_participant.full_name %>
      </span>
      <span class="other-participant-detail-2">
        <%= @other_participant.location_description %>
      </span>
      <br>
    </div>
  </div>
  <div class="col-md-8 remove-padding-sm">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <form id="message-form" action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" rows="5" id="message" autocomplete="off">
            <label class="mdl-textfield__label" for="message">Message...</label>
          </div>
          <button id="submit" disabled type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="background: #00ACC8; color: #fff;">
            Send
          </button>
        </form>
        <form id="image-form" action="#">
          <input id="mediaCapture" type="file" accept="image/*,capture=camera">
          <button id="submitImage" title="Add an image" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--white" style="background-color: #919191;">
            <i class="material-icons">image</i>
          </button>
        </form>
      </div>
    </div>
    <!-- Header section containing logo -->
    <header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700" style="display: none;">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
        <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        </div>
        <div id="user-container">
          <div hidden id="user-pic"></div>
          <div hidden id="user-name"></div>
          <button hidden id="sign-out" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
            Sign-out
          </button>
          <button hidden id="sign-in" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
            <i class="material-icons">account_circle</i>Sign-in with Google
          </button>
        </div>
      </div>
    </header>

    <main class="mdl-layout__content mdl-color--grey-100" style="width: 100%;">
      <div id="messages-card-container" class="mdl-cell mdl-cell--12-col mdl-grid">

        <!-- Messages container -->
        <div id="messages-card">
          <div class="mdl-card__supporting-text remove-padding-sm mdl-color-text--grey-600">
            <div id="messages">
              <span id="message-filler"></span>
            </div>
          </div>
        </div>

        <div id="must-signin-snackbar" class="mdl-js-snackbar mdl-snackbar">
          <div class="mdl-snackbar__text"></div>
          <button class="mdl-snackbar__action blue darken-1" type="button"></button>
        </div>

      </div>
    </main>
  </div>
</div>

<!-- Firebase -->
<!-- ***********************************************************************************************************************
     * TODO(DEVELOPER): Paste the initialization snippet from: Firebase Console > Overview > Add Firebase to your web app. *
     *********************************************************************************************************************** -->
<script src="/js/jquery.cookie.js"></script>
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
 // Initialize Firebase
 var config = {
   apiKey: "AIzaSyA3ZVpqzhWsqQLm6hmJVrc_xQRhJbGQKw4",
   authDomain: "abilitylistchat.firebaseapp.com",
   databaseURL: "https://abilitylistchat.firebaseio.com",
   storageBucket: "abilitylistchat.appspot.com",
 };
 firebase.initializeApp(config);
</script>
<script src="/js/main.js"></script>
<style>
.site-content-wrapper {
  background-color: #F5F5F5;
}
</style>
