<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css
">
<style>
body { font-size: 140%; }
#users-table_filter {
  padding-right: 50px;
}
</style>

<div class="container">
  <h1>Listing users</h1>


  <table class="table table-striped table-bordered" id="users-table", data-source="<%= users_path(format: :json) %>">
    <thead>
      <tr>
        <th>Name</th>
        <th>Registered</th>
        <th>Email</th>
        <th>Resources</th>
        <th>Signins</th>
        <th>Last signin</th>
        <th>State</th>
        <th>Postal</th>


      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js
"></script>

<script>
jQuery(document).ready(function() {
  $('#users-table').dataTable({
    "processing": true,
    "serverSide": true,
    "order": [[1, 'desc']],
    "ajax": $('#users-table').data('source'),
    "pagingType": "full_numbers",
    // optional, if you want full pagination controls.
    // Check dataTables documentation to learn more about
    // available options.
  });
});
</script>