<link rel="stylesheet" href="/raty/jquery.raty.css">
<script src="/raty/jquery.raty.js"></script>
<style>
  .cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
    font-size: 13px;
  }
  @media (min-width: 992px) {
    .profile-meter {
      padding-left: 80px;
      padding-top: 10px;
    }
  }
</style>
<div class="profile-head-color">

</div>
<div class="container profile-border-bottom">
  <div class="row">
    <div class="col-sm-2">
      <div class="profile-photo-container">
        <% if @user.user_upload %>
          <div class="profile-photo-inside" onclick="window.location='/user_uploads/<%= @user.user_upload.id%>/edit'">
            <%= image_tag @user.user_upload.photo.url(:medium), :class => "fitted-image" %>
          </div>
        <% else %>
          <div class="profile-photo-inside" onclick="window.location='/user_uploads/new'">
            <img src="/img/users/avatar.jpg" class="fitted-image">
          </div>
        <% end %>
        <div style="padding-top: 6px; text-align: center;">
          <% if user_signed_in? and current_user.can_edit_user_with_id(@user.id) %>
            <a href="<%= edit_user_path(current_user)%>" class="btn btn-default profile-edit-btn" >Edit Profile</a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-5 profile-bio">
      <h3><%= @user.first_name %> <%= @user.last_name %></h3>
      <p  <% if user_signed_in? and current_user.can_edit_user_with_id(@user.id) %>
          data-toggle="modal" data-target="#myModal"
    <% end %>>
        <% if user_signed_in? %>
          <% if current_user.can_edit_user_with_id(@user.id) %>
            <% if @user.bio.presence and  @user.bio.length > 0 %>
              <%= @user.bio %>
            <% else %>
              <span style="color: #ccc;">Create a bio to tell the world who you are and how you use AbilityList. </span>
            <% end %>
          <% else %>
            <%= @user.bio %>
          <% end %>
        <% else %>
          <%= @user.bio %>
        <% end %>
      </p>
    </div>
    <%= render 'bio_modal' %>
    <div class="col-sm-5 profile-stats">
      <div class="profile-border-left profile-border-right pull-right">
        <div class="profile-faded-caption">
          <span class="profile-count"><%= sprintf '%02d', @user.saveds.length %></span>
          SAVED
        </div>
      </div>
      <div class="profile-border-left pull-right">
        <div class="profile-faded-caption">
          <span class="profile-count"><%= sprintf '%02d', @user.ratings.length %></span>
          RATINGS
        </div>
      </div>
      <div class="profile-border-left pull-right">
        <div class="profile-faded-caption">
          <span class="profile-count"><%= sprintf '%02d', @user.resources.length %></span>
          SHARED
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <% if user_signed_in? and @user.permissions > 0 %>
    <%= render partial: "partials/administrator" %>
  <% end %>

  <div class="row">
    <div class="col-md-8">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#my-resources" role="tab" data-toggle="tab">My Resources</a></li>
        <li><a href="#favorited" role="tab" data-toggle="tab">Saved</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="my-resources">
          <% unless @user.resources.length < 1 %>
            <% @user.resources.each do |r| %>
                <%= render partial: "partials/resource_profile_page", locals: {r: r, saved: true} %>
            <% end %>
          <% else %>

          <!-- no uploaded resources -->
          <%= render partial: "partials/no_added_resources" %>



          <% end %>
        </div>
        <div class="tab-pane" id="favorited">
          <% unless @user.saveds.length < 1 %>
            <% @user.saveds.each do |s| %>
                <%= render partial: "partials/resource_profile_page", :locals => {r: s.resource} %>
            <% end %>
          <% else %>
            <h4 class="resource-partial-title-container"><a class="resource-partial-name" href="/resources/new">No saved resources</a>
            </h4>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">

      <% if user_signed_in? and current_user.can_edit_user_with_id(@user.id) %>
            <div class="profile-meter">
      <div style="background: rgba(0, 199, 255, 0.5); padding-top: 8px; padding-bottom: 5px;">
        <h4 style="color: #fff; text-align: center;">Profile Completeness</h4>
      </div>
      <div style="background: #EEF2F5; padding-top: 5px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
        <h3 style="text-align: center; margin-top: 10px; color: #C1C8D0;"> <i class="fa fa-tachometer"></i> <% completeness = @user.profile_completeness %><%= completeness%> %</h3>


      <div class="progress progress-striped <% unless completeness == 100 %>active<% end %>">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="<%= completeness%>" aria-valuemin="0" aria-valuemax="100" style="width: <%= completeness%>%">
          <span class="sr-only"><%= completeness%>% Complete</span>
        </div>
      </div>

      <% tasks = @user.tasks_to_complete_profile %>
      <ul class="list-unstyled">
      <% tasks.each do |task| %>
      <li>
        <%= task.html_safe %>
      </li>
      <% end %>
      </ul>
      </div>
      </div>
      <% end %>
      <div style="padding-left: 80px;">
        <h5>About tags:</h5>
        <p><%= ApplicationController.helpers.make_labels(@user.try(:epithet_list)).html_safe %></p>
        <br>
        <h5>Interested in:</h5>
        <p><%= @user.try(:interested_in) %></p>
        <br>
        <h5>Can share:</h5>
        <p><%= @user.try(:can_share) %></p>
        <br>
      </div>
  </div>

</div>
