<div class="container" style="height: 65px;">
  <div class="alert alert-info" id="custom-alert">
    <strong>Welcome back!</strong> First change your password.
  </div>
</div>

<div class="container">
		<div class="row" style="padding-left: 15px; padding-right: 15px;">
			<div class="col-md-6 col-md-offset-3" style="background: #fff; padding: 40px;">

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>

	  <div class="form-group">
	  	<div class="input-group">
				<div class="input-group-addon" style="border: 0px solid transparent;background: transparent;"><i class="fa fa-lock"></i></div>
	  		<%= f.password_field :password, :autofocus => true, :class => "form-control", :style => "border-radius: 3px;", :placeholder => "New password", :required => true %>
	  	</div>
	  </div>
	  <div class="form-group">
	  	<div class="input-group">
				<div class="input-group-addon" style="border: 0px solid transparent;background: transparent;"><i class="fa fa-lock"></i></div>
	  		<%= f.password_field :password_confirmation, :class => "form-control", :style => "border-radius: 3px;", :placeholder => "Confirm password", :required => true %>
	  	</div>
	  </div>

	  <div class="form-group" style="padding-left: 39px; padding-top: 20px;">
	  	<%= f.submit "Change My Password", :class => 'btn btn-info btn-lg btn-block' %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>

		</div>
	</div>
</div>

<style>
	body {background: #3e4449;}
	html,
	body {
	   margin:0;
	   padding:0;
	   height:100%;
	}
	#wrapper {
   min-height:100%;
	}
	#custom-alert {
		text-align: center; 
		background: transparent; 
		border: 1px solid transparent; 
		color: #eee; 
		font-size: 22px;
	}
	@media (max-width: 991px) {
	#custom-alert {
	  	font-size: 17px;
	  }
	}

</style>