<div id="wrapper" style="padding-top: 25px;">
	<div class="container" style="height: 65px;">
	  <div class="alert alert-info alert-dismissable" style="text-align: center; background: transparent; border: 1px solid transparent; color: #eee; font-size: 22px;">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    <strong>Forgot your password? No problem.</strong> Fill in your email below.
	  </div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3" style="background: #fff; padding: 40px;">

				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
				  <%= devise_error_messages! %>

			  <div class="form-group">
			  	<div class="input-group">
			  		<div class="input-group-addon" style="border: 0px solid transparent;background: transparent;">	<i class="fa fa-envelope"></i>
			  		</div>
				  	<%= f.email_field :email, :autofocus => true, :class => "form-control", :style => "border-radius: 3px;", :placeholder => "Email Address" %>
					</div>
				</div>


			  <div class="form-group" style="padding-left: 39px; padding-top: 20px;">
			  	<%= f.submit "Send me reset my password", :class => 'btn btn-info btn-lg btn-block', :style => "font-weight: 200;" %>
			  </div>
				<% end %>

				<%= render "devise/shared/links" %>


			</div>
		</div>
	</div>
</div>

<style>
	body {background: #3e4449;}
	html,
	body {
	   margin:0;
	   padding:0;
	   height:100%;
	}
	#wrapper {
   min-height:100%;
	}

</style>