a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.navbar-inverse {
	background-color: #373C42;
	border-color: #26292D;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background: transparent;
}
.navbar-brand {
	padding-top: 10px;
	padding-bottom: 5px;
}
.navbar-inverse {
	border-color: transparent;
	background: #373C42;
  letter-spacing: 0.5px;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
.navbar-inverse .navbar-toggle {
	border-color: transparent;
}
.navbar-brand {
	padding-top: 10px;
	padding-bottom: 5px;
}
.nav-session-pic {
	border-radius: 30px;
  height: 28px;
  margin-left: 40px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background: transparent;
}
.nav-logo {
  background-image: url("../images/abilitylist-white-transparent.png");
  background-size: 150px 27px;
  background-repeat: no-repeat;
  background-position: 51% 50%;
}
.nav-logo-aligner {
  width: 150px;
  height: 27px;
  padding-top: 2px;
}
.nav-logo-beta {
  font-size: 9px;
  margin-left: 164px;
  font-weight: 300;
}
.nav-profile-photo-wrapper {
  margin-top: -4px;
  color: #595656;
  font-size: 11px;
}
.nav-social-list {
  width: 100px;
  position: absolute;
  margin-top: 60px;
  margin-left: -106px;
}
#transparent-btn {
  padding: 4px 12px;
  margin-top:12px;
  margin-left: 3px;
  margin-right: 3px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}
#nav-donate-transparent-btn {
  padding: 4px 12px;
  margin-top:12px;
  margin-left: 3px;
  margin-right: 3px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}
#transparent-btn-dark {
  padding: 4px 12px;
  margin-top:12px;
  margin-left: 3px;
  margin-right: 3px;
  color: #64C9DA;
  background: transparent;
  border: 1px solid #64C9DA;
}
#icon-li {
  padding-left: 0px;
  padding-right: 0px;
}
.icon-circle {
  color: #363C42;
  padding: 4px 5px;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 3px solid #363C42;
}

@media (max-width: 991px) {
  #nav-donate-transparent-btn {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #FFF;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
    color: #FFF;
  }
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
	  padding-top: 17px;
	  padding-bottom: 13px;
	  font-weight: 300;
	}
}


.bootstrap-select {
  width: auto !important;
}


/* FOOTER STYLE */
.footer-wrapper {
  background: #373C42;
  padding: 25px;
  height: auto;
  font-weight:200;
  color: #FFF;
  text-align: center;
  position: absolute;
  z-index: 1000;
  width: 100%;
}
.icon-facebook {
  padding: 4px 7px;
}
.footer-social-wrapper {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.footer-nav-wrapper {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.copyright-wrapper {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 13px;
}
.footer-nav-list {
  font-weight: bold;
  font-size: 13px;
}
.icon-circle-white {
  color: #fff;
  border: 3px solid #fff;
}

@media (min-width: 992px) {
  #nav-mobile-donate-btn {
    display: none;
  }
}
