html, body {
   margin:0;
   padding:0;
   height:100%;
}
.alert {
	margin-bottom: 0px;
}
.site-content-wrapper {
	padding-top: 50px;
}
.scw-min-height {
	min-height: 100%;
}
p {
	font-size: 18px;
	line-height: 1.4em;
}
b {
	font-size: 18px;
}
.blue-link {
	color: #64C9DA;
  text-decoration: underline;
}
.blue-link:hover {
	color: #64C9DA;
  text-decoration: underline;
}
.resource-search-user-avatar {
	border-radius: 50%;
  height: 50px;
}
.resource-search-user-name {
	color:#595656;
	font-size: 11px;
}
.resource-search-title {
	color: #94B66E;
	font-weight: bold;
	font-size: 16px;
}
.resource-search-title:hover {
	text-decoration: none;
	color: #759155;
}
.resource-search-image {
	width: 60px;
	height: 60px;
	border-radius: 6px;
}
.default-resource-search-image {
	width: 132px;
	height: 132px;
	background: #B7BBC2;
	border-radius: 6px;
}
.default-footer {
	width: 100%;
	height: 100px;
	margin-top: 80px;
	padding-top: 25px;
	color: #fff;
	background: #373C42;
	font-weight: 200;
	text-align: center;
}
.profile-head-color {
	background: #37B2D1;
	width: 100%;
	height: 120px;
}
.profile-border-bottom {
	border-bottom: 1px solid #eee;
}
.profile-border-left {
	border-left: 1px solid #eee;
	height: 75px;
	padding: 15px;
	margin-top: 30px;
}
.profile-border-right {
	border-right: 1px solid #eee;
}
.profile-faded-caption {
	color: #eee;
	font-weight: bold;
}
.profile-count {
	color: #000;
	font-size: 28px;
	display: block;
	text-align: center;
	font-weight: 300;
}
.thin-gray {
	font-weight:200;
	color: #595656;
}
.profile-photo-inside {
	background: #eee;
	width: 100%;
	height: 178px;
	border-radius: 5px;
	cursor: pointer;
}
.profile-photo-inside-resource {
	background: #eee;
	width: 100%;
	height: 161px;
	border-radius: 5px;
}
.profile-photo-inside:hover {
  background-image: url('./../img/hover-add.png');
  background-size: 20% 20%;
  background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.3;
}
.profile-photo-container {
	width: 190px;
	margin-right: 20px;
	box-shadow: 0px 0px 7px #999;
	height: 230px;
	border-radius: 5px;
	background: #fff;
	padding: 6px;
	margin-top: -100px;
}
.profile-bio {
	padding-left: 70px;
	cursor: pointer;
}
.profile-edit-btn {
	padding-left: 50px;
	padding-right: 50px;
}
.profile-user-resources {
	margin-top: 20px;
}
.profile-user-resources li a {
	padding: 15px;
	font-weight: bold;
	color: #999;
}
.profile-user-resources .active li a {
	color: #37B2D1;
}
.nav-tabs {
	margin-top: 30px;
}
.tab-pane {
	margin-top: 15px;
}
.resource-partial {
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.resource-partial-photo {
	border-radius: 5px;
	height: 132px;
	width: 100%;
	cursor: pointer;
}
.resource-partial-map {
	border: 1px solid #ddd;
	cursor: pointer;
	height: 100px;
	width: 150px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.resource-partial-map-caption {
	border: 1px solid #ddd;
	border-top: 0px solid transparent;
	width: 150px;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 5px;
	font-size: 12px;
	color: #999;
	cursor: pointer;
}
.fitted-image {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.fitted-image-resource {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	cursor: auto;
}
.resource-partial-fitted-image {
	width: 132px;
	height: 132px;
	border-radius: 5px;
}
.resource-partial-title-container {
	margin-bottom: 0px;
}
.resource-partial-name {
	color: #94B66E;
}
.resource-partial-name:hover {
	color: #789657;
	text-decoration: none;
}
.float-btn-left {
	float:left;
}
.resource-partial-comments {
	color: #999;
	margin-top: 3px;
	margin-bottom: 5px;
	font-size: 12px;
}
.resource-breadcrumb {
	width: 100%;
	background: #EEF2F5;
	text-align: center;
	border-bottom: 1px solid #eee;
	color: #DADFE4;
}
.resource-breadcrumb-text {
	height: 50px;
	line-height: 50px;
	border-left: 1px solid #eee;
}
.breadcrumb-active {
	color: #fff;
	background: #30B2D3;
}
.breadcrumb-completed {
	color: #7B7D81;
	cursor: pointer;
}
.breadcrumb-last {
	border-right: 1px solid #eee;
}
.fa-check-circle-o {
	color: #B6D786;
}
.form-row {
	padding-top: 20px;
	color: #999;
}
.form-row-border-bottom {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.fa-red {
	color: red;
}
.btn-margin {
  margin: 3px;
}
.flow-submit-container {
	text-align: center;
	padding: 10px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.panel-title>a {
	font-size: 12px;
	line-height: 22px;
}
.big-success-check {
	font-size: 12em;
}
.big-success-check-container {
	text-align: center;
	margin-top: 50px;
}
.login-cols {
	background: #fff;
	padding: 40px;
}
/* Customize container */
@media (min-width: 768px) {
.resource-form-container {
    max-width: 730px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
.resource-partial-pad-left {
	padding-left: 50px;
}
}
/* Customize container */
@media (min-width: 991px) {
.profile-faded-caption {
	padding-left: 10px;
	padding-right: 12px;
  }
.large-pad {
	padding-left: 50px;
}
}
/* Customize container */
@media (max-width: 991px) {
.profile-bio {
    padding-left: 100px;
  }
}
/* Customize container */
@media (max-width: 767px) {
.login-cols {
	padding-left: 15px;
	padding-right: 15px;
}
#user_last_name {
	margin-top: 4px;
}
.form-row-border-bottom {
	border: 0px solid #fff;
}
.profile-bio {
    padding-left: 0px;
    margin-left: 20px;
  }
.profile-stats {
	display: none;
}
.resource-partial-pad-left {
	padding-bottom: 15px;
}
}

/* RESOURCE PROFILE */
.resource-delete-btn {
	margin-left: 5px;
}
.resource-delete-btn:hover {
}
.resource-edit-btn {
}
.resource-edit-btn:hover {
}
.resource-head-color {
	background: #37B2D1;
	width: 100%;
	height: 150px;
-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.resource-title {
	color: #fff;
	margin-left: 200px;
	margin-top: 90px;
}
.resource-rating-comments-title {
	color: #fff;
	margin-left: 200px;
	margin-top: -5px;
	font-size: 13px;
}
.resource-photo-container {
	width: 172px;
	margin-right: 20px;
	box-shadow: 0px 0px 7px #999;
	height: 173px;
	border-radius: 5px;
	background: #fff;
	padding: 6px;
	margin-top: -130px;
}
.resource-actions-container {
	padding-left: 50px;
}
.resource-actions {
	margin-top: 10px;
}
.resource-actions>li{
	color: #C4CBD3;
	line-height: 30px;
	border-right: 1px solid #eee;
	padding-left: 30px;
	padding-right: 30px;
	cursor: pointer;
}
.resource-actions>li:hover{
	color: #999;
}
.resource-detail-container {
	width: 100%;
	border-bottom: 1px solid #eee;
	font-size: 13px;
	line-height: 26px;
}
.related-resource {
	border-bottom: 0px solid transparent;
}
.resource-description-padding {
	padding-right: 50px;
	line-height: 26px;
}
.resource-photo-inside {
	background: #eee;
	width: 100%;
	height: 161px;
	border-radius: 5px;
	cursor: pointer;
}
.resource-detail-section {
	padding-right: 20px;
	margin-top: 10px;
}
.resource-detail-title {
	float: left;
	width: 30%;
}
.toggle-description-link {
	color: #428bca;
	cursor:pointer;
}
.more-text {
	display: none;
}
.resource-description-container {
	border-right: 1px solid #eee;
	margin-top: 10px;
}
.resource-tags-container {
	border-top: 1px solid #eee;
	margin-top: 25px;
	padding-top: 10px;
}
.resource-profile-review-count {
	color: #fff;
	text-transform: uppercase;
	cursor: auto;
}
.resource-profile-review-count:hover {
	text-decoration: none;
	color: #fff;
}
.resource-profile-map {
	border: 1px solid #ddd;
	cursor: pointer;
	height: 180px;
	width: 285px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.resource-profile-map-caption {
	border: 1px solid #ddd;
	border-top: 0px solid transparent;
	width: 285px; text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	color: #999;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.search-filter {
	text-align: left;
}
.search-results-summary {
	padding-top:25px;
	border-bottom: 1px solid #eee;
	width: 100%;
}
.pad-detail-top {
	padding-top:25px;
}
.search-new-detail {
	border-bottom: 1px solid #eee;
	width: 100%;
	padding-bottom: 15px;
}
.no-bottom-border {
	border-bottom: 0px solid transparent;
}
.results-border-left {
	border-left: 1px solid #eee;
}
#raty_average {
	font-size: 8px;
	float: left;
}
.page-entries-info {
	font-size: 11px;
	font-weight: normal;
	margin-left: 20px;
	line-height: 30px;
}
.pagination>li>a, .pagination>li>span {
	font-size: 11px;
}
.pagination {
	margin-bottom: 0px;
	margin-top: -20px;
}
.ui-widget-content {
	border: 1px solid rgb(48, 178, 211);
}
.ui-widget-content .ui-state-default {
	background: #fff;
}
.bootstrap-switch.bootstrap-switch-large {
	width: 100%;
}
.pagination-container {
	text-align: right;
	margin-right: -60px;
}
.pagination-bottom {
	margin-top: 25px;
}
.social-share-button-facebook {
display: inline-block;
width: 32px;
height: 32px;
background: url("/social-icons/facebook.png") no-repeat;
}
.social-share-button-twitter {
display: inline-block;
width: 32px;
height: 32px;
background: url("/social-icons/twitter.png") no-repeat;
}
.social-share-button-google_plus {
display: inline-block;
width: 32px;
height: 32px;
background: url("/social-icons/googleplus.png") no-repeat;
}
.social-share-button-tumblr {
display: inline-block;
width: 32px;
height: 32px;
background: url("/social-icons/tumblr.png") no-repeat;
}
.social-share-button-pinterest {
display: inline-block;
width: 32px;
height: 32px;
background: url("/social-icons/pinterest.png") no-repeat;
}
.bootsy_text_area {
  width: 100%;
  height: 150px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.accessibility-title-wrapper {
	padding-top: 15px;
}
.accessibility-content-wrapper {
	max-width: 875px;
	border-top: 1px solid #eee;
	padding-top: 15px;
}
#topLeftMouseBox {
  display: none;
}
@media (min-width: 991px) {
  #topLeftMouseBox {
    position: fixed;
    height: 50px;
    width: 300px;
    top: 0;
    left:0;
    z-index: 4000;
    cursor: pointer;
  }
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0px;
}
