<h1>Listing flags</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Resource</th>
      <th>User</th>
      <th>Duplicate</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flags.each do |flag| %>
      <tr>
        <td><%= flag.category %></td>
        <td><%= flag.resource_id %></td>
        <td><%= flag.user_id %></td>
        <td><%= flag.duplicate_id %></td>
        <td><%= flag.details %></td>
        <td><%= link_to 'Show', flag %></td>
        <td><%= link_to 'Edit', edit_flag_path(flag) %></td>
        <td><%= link_to 'Destroy', flag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flag', new_flag_path %>
