<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @flag.category %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @flag.resource_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @flag.user_id %>
</p>

<p>
  <strong>Duplicate:</strong>
  <%= @flag.duplicate_id %>
</p>

<p>
  <strong>Details:</strong>
  <%= @flag.details %>
</p>

<%= link_to 'Edit', edit_flag_path(@flag) %> |
<%= link_to 'Back', flags_path %>
