<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= f.label :life_situation %><br>
    <%= f.check_box :life_situation %>
  </div>
  <div class="field">
    <%= f.label :nonprofit_services %><br>
    <%= f.check_box :nonprofit_services %>
  </div>
  <div class="field">
    <%= f.label :one_time %><br>
    <%= f.check_box :one_time %>
  </div>
  <div class="field">
    <%= f.label :jobs %><br>
    <%= f.check_box :jobs %>
  </div>
  <div class="field">
    <%= f.label :housing %><br>
    <%= f.check_box :housing %>
  </div>
  <div class="field">
    <%= f.label :forprofit_services %><br>
    <%= f.check_box :forprofit_services %>
  </div>
  <div class="field">
    <%= f.label :marketplace %><br>
    <%= f.check_box :marketplace %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
