<div class="container">
  <h1>Listing tags</h1>

 <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Count</th>
        <th>Life situation</th>
        <th>Nonprofit services</th>
        <th>One time</th>
        <th>Jobs</th>
        <th>Housing</th>
        <th>Forprofit services</th>
        <th>Marketplace</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
          <td><%= tag.count %></td>
          <td><%= tag.life_situation %></td>
          <td><%= tag.nonprofit_services %></td>
          <td><%= tag.one_time %></td>
          <td><%= tag.jobs %></td>
          <td><%= tag.housing %></td>
          <td><%= tag.forprofit_services %></td>
          <td><%= tag.marketplace %></td>
          <td><%= link_to 'Show', tag %></td>
          <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
          <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Tag', new_tag_path %>
</div>
