<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @tag.name %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= @tag.count %>
  </p>

  <p>
    <strong>Life situation:</strong>
    <%= @tag.life_situation %>
  </p>

  <p>
    <strong>Nonprofit services:</strong>
    <%= @tag.nonprofit_services %>
  </p>

  <p>
    <strong>One time:</strong>
    <%= @tag.one_time %>
  </p>

  <p>
    <strong>Jobs:</strong>
    <%= @tag.jobs %>
  </p>

  <p>
    <strong>Housing:</strong>
    <%= @tag.housing %>
  </p>

  <p>
    <strong>Forprofit services:</strong>
    <%= @tag.forprofit_services %>
  </p>

  <p>
    <strong>Marketplace:</strong>
    <%= @tag.marketplace %>
  </p>

  <%= link_to 'Edit', edit_tag_path(@tag) %> |
  <%= link_to 'Back', tags_path %>
</div>