<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Suggested resource from <%= name %></h1>
    <p>
      <%= title %> at <%= url %>
      <br>
      <br>
      '<%= name %>' <<%= email %>>
    </p>
  </body>
</html>