<div class="container accessibility-title-wrapper">
    <h1 class="text-center thin-gray">Accessibility Statement</h1>
</div>
<div class="container accessibility-content-wrapper">

<p>We are committed to ensuring that AbilityList.org is accessible to all visitors.</p>

<b>What is <a class="blue-link" href="http://www.section508.gov/section508-laws">Section 508?</a></b><p></p>

<p>Section 508 is an amendment to the Rehabilitation Act of 1973 passed by US congress that requires Federal Agencies to make their electronic information and information technology accessible to people with disabilities.</p>

<b>Does Section 508 Apply to AbilityList.org?</b><p></p>

<p>Section 508 does not technically apply to AbilityList.org. Nothing in section 508 requires that private agencies comply with requirements unless they receive federal funds or are under contract with a federal agency.</p>

<p>However, Section 508 was also intended to encourage the development of technologies that help make information technology accessible, and in this spirit AbilityList.org is regularly monitored to ensure that it meets and exceeds the requirements of Section 508.</p>

<b>How Is AbilityList.org Tested for Accessibility?</b><p></p>

<p>As part of the development process and ongoing website maintenance, the AbilityList.org team tests the site using several different assistive technologies, including screen readers, screen magnifiers, speech recognition software and text-only browsers. Our team also uses tools, such as the W3C HTML Validator, WAVE by WebAIM and the Color Contrast Analyzer, to ensure the best experience possible for all visitors.</p>

<b>Are you experiencing an issue related to accessibility?</b><p></p>

<p>Send an email describing your experience to <a class="blue-link" href="mailto:accessibility@abilitylist.org">accessibility@abilitylist.org</a>. We’ll look into it as soon as we can.</p>



</div>