<!-- this page has a fixed left navigation -->
<div style="padding-left: 20px; padding-right: 20px;">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#what-we-know-a">
                  API
              </a>
          </li>
          <li>
              <a href="#api-overview-a" id="nav-api-overview" class="scroll-spy">
                API Overview
              </a>
          </li>
          <li>
              <a href="#getting-started-a" id="nav-getting-started">
                Getting Started
              </a>
          </li>
          <li>
              <a href="#how-this-works-a" id="nav-how-this-works">
                How this works
              </a>
          </li>
          <li>
              <a href="#our-team-a" id="nav-our-team">
                Our team
              </a>
          </li>
          <li>
              <a href="#board-of-advisors-a" id="nav-board-of-advisors">
                Board of advisors
              </a>
          </li>
          <li>
              <a href="#accessibility-statement-a" id="nav-accessibility-statement">
                Accessibility
              </a>
          </li>
          <li>
              <a href="#be-involved-a" id="nav-be-involved">
                Be involved
              </a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">

        <!-- What we know -->
        <div class="col-lg-12">
          <a class="anchor" id="api-overview-a"></a>
          <h1 class="thin-gray" style="text-align: center; color: #2E2C2E; padding: 30px; font-size: 45px;">AbilityList API Overview</h1>
          <div class="row">
            <div class="col-md-5">
              <img src="/img/igg/construction.jpg" class="landing-laptop" style="max-width: 275px; margin-left: auto; margin-right: auto; display: block;">
            </div>
            <div class="col-md-7">

              <p>AbilityList has implemented a completely open API to provide our data for no cost. The benefit to the community is that developers can download and organize our data in creative ways that we have yet to imagine.</p>

              <p>We are open to expanding our API as we see opportunities for working with other technology-oriented organizations. If you are interested in partnership opportunities, send an email to <a class="blue-link" href="mailto:admin@abilitylist.org">admin@abilitylist.org</a></p>

            </div>
          </div>
        </div>

        <!-- Our mission -->
        <div class="col-lg-12">
          <a class="anchor" id="getting-started-a"></a>
          <h1 class="thin-gray" style="text-align: center; color: #2E2C2E; padding: 30px; font-size: 45px;">Getting Started</h1>
          <p><b>Our API currently covers the following areas:</b></p>
          <ul class="list-unstyled">
            <li><p><u>Resources</u> - uploaded by our ambassadors and users including photo urls and tags</p></li>
            <li><p><u>Tags</u> - with details of their usage, and lists of resources that include specific tags</p></li>
          </ul>


          <p style="background-color: #337ab7; color: #fff; padding: 15px;">You must have a valid user account to make requests to our API.</p>

        </div>

        <!-- How this works -->
        <div class="col-lg-12">
          <a class="anchor" id="how-this-works-a"></a>
          <h1 class="thin-gray" style="text-align: center; color: #2E2C2E; padding: 30px; font-size: 45px;">How we work</h1>

          <p>A Community that Shares</p>

          <p>Say you know of a great disability resource, or maybe your company has an awesome program or service for people with disabilities.  You log into AbilityList.  In four simple steps you share your resource with the entire AbilityList network.  Now people all across the country can find your resource in a single search - and you can find theirs. </p>

          <p>Complete. Accessible. Easy to Use.</p>

          <p>You can share or search resources on AbilityList under six intuitive categories:</p>
          <p>
            <ul class="list-unstyled">
              <li>1.) Non-Profit Organizations & Services</li>
              <li>2.) Activities & Events</li>
              <li>3.) Jobs</li>
              <li>4.) Housing</li>
              <li>5.) For-Profit Organizations & Services</li>
              <li>6.) Marketplace (New & Used Items for Sale)</li>
            </ul> 
          </p>

          <p>You can also tag (and search for) your resources with any combination of the following:</p>

          <p>
            <ul>
              <li>Learning Disability</li>
              <li>Developmental Disability</li>
              <li>Physical Disability</li>
              <li>Cognitive Disorder</li>
              <li>Limited Mobility</li>
              <li>Hearing Impairment</li>
              <li>Visual Impairment</li>
              <li>Mental Illness</li>
              <li>Military/Veteran</li>
              <li>Seniors</li>
              <li>Young Adults</li>
              <li>Children</li>
            </ul>
          </p>

          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <img src="/img/igg/laptop.jpg" class="landing-laptop" style="max-width: 400px;">
            </div>
          </div>
        </div><!-- /How this works -->

        <!-- Our team -->
        <div class="col-lg-12" style="border-top: 1px solid #A0A1A2; margin-top: 50px;">
          <a class="anchor" id="our-team-a"></a>
          <h1 class="thin-gray" style="text-align: center; color: #2E2C2E; padding: 30px; font-size: 45px;">Our team</h1>

          <div class="row">
            <div class="col-md-6">
              <img src="/img/team-members/theresa-previ.png" class="team-member-photo">
              <p>Theresa Previ, Co-founder & COO</p>
              <p>As an entrepreneur and creative and product director, Theresa understands building and sustaining innovative tech products. She keeps us running for the millions of Americans who need our network of support.  One of them is her nephew, Matt, who can now turn to AbilityList for anything he’s looking for.</p>
            </div>
            <div class="col-md-6">
              <img src="/img/team-members/andrew-zitek.png" class="team-member-photo">
              <p>Andrew Zitek, Co-founder & CTO</p>
              <p>Andrew is our lead developer, and a master when it comes to product and strategy.  As a tech nonprofit, we’re incredibly proud of his free API and open code base.  Andrew also works as an independent contractor specializing in Rails, Javascript, and more.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <img src="/img/team-members/robert-gil.png" class="team-member-photo">
              <p>Robert Gil, Growth & Outreach</p>
              <p>Robert is our man on the ground.  He works one-on-one with members of the disability community and disability service providers to make sure our network is truly meeting your needs.  As someone who has a disability himself, his knowledge and experience make him an invaluable member of our team (and yours).</p>
            </div>
            <div class="col-md-6">
              <img src="/img/team-members/ben-kim.png" class="team-member-photo">
              <p>Ben Kim, Marketing & Ops</p>
              <p>After a successful year in the NYC start-up scene, Ben left the private sector looking for ways to do more for his community - and we’re so glad he did.  Now he keeps all our logistics, communications, and social media running smoothly.  Ben’s hard work makes life easier for Americans with disabilities, including his grandmother</p>
            </div>
          </div>

        </div><!-- /Our team -->

        <!-- Board members -->
        <div class="col-lg-12" style="border-top: 1px solid #A0A1A2; margin-top: 50px;">
          <a class="anchor" id="board-of-advisors-a"></a>
          <h1 class="thin-gray" style="text-align: center; color: #2E2C2E; padding: 30px; font-size: 45px;">Our board of experts</h1>
          <div class="row">
            <div class="col-md-4">
              <img src="/img/board-members/steve-way.png" class="board-member-photo">
            </div>
            <div class="col-md-8" style="padding-top: 20px;">                        
              <p>Steve Way</p>
              <p>Steve is a substitute teacher by day and a stand up comedian by night. Born with Muscular Dystrophy, he’s been a lifelong advocate for disability awareness. Steve’s been speaking publicly and motivationally on disability since age ten, most notably with the Muscular Dystrophy Association.  You can see him doing stand-up in the NYC metro area, and as the star (and co-creator) of the web series <i>Uplifting Dystrophy.</i></p>
            </div>
          </div>

          <div class="row" style="margin-top: 70px;">
            <div class="col-md-4">
              <img src="/img/board-members/larry-darrah.png" class="board-member-photo">
            </div>
            <div class="col-md-8" style="padding-top: 20px;">                        
              <p>Larry Darrah</p>
              <p>Larry is our Sr. Technical Program Manager for website accessibility. His expertise and passion for accessible design go back to 2000, when he first began working with NASA to build and redesign applications that are universally accessible.  He’s worked on accessibility in the public and private sectors ever since - designing applications and consulting on training, best practices, and core processes.</p>
            </div>
          </div>

          <div class="row" style="margin-top: 70px;">
            <div class="col-md-4">
              <img src="/img/board-members/andrew-horn.png" class="board-member-photo">
            </div>
            <div class="col-md-8" style="padding-top: 20px;">                        
              <p>Andrew Horn, Co-founder & Chairman</p>
              <p>AbilityList all started in 2012, while Andrew Horn was working on adaptive athletics for DC youth.  At the time, there was no good way to reach out to people looking for a program like his, so Andrew created a “community listserv” he and other organizations could use to stay connected on opportunities for people with disabilities. The project’s success served as inspiration for an entire platform where users could easily share all of the disability resources in their hometowns.  AbilityList was born.</p>
            </div>
          </div>

        </div><!-- /Board members -->


        <!-- Accessibility Statement -->
        <div class="col-lg-12">
          <a class="anchor" id="accessibility-statement-a"></a>
          <h1 class="thin-gray" style="text-align: center; color: #2E2C2E; padding: 30px; font-size: 45px;">Accessibility Statement</h1>

          <p>We are committed to ensuring that AbilityList.org is accessible to all visitors.</p>

          <b>What is <a class="blue-link" href="http://www.section508.gov/section508-laws">Section 508?</a></b><p></p>

          <p>Section 508 is an amendment to the Rehabilitation Act of 1973 passed by US congress that requires Federal Agencies to make their electronic information and information technology accessible to people with disabilities.</p>

          <b>Does Section 508 Apply to AbilityList.org?</b><p></p>

          <p>Section 508 does not technically apply to AbilityList.org. Nothing in section 508 requires that private agencies comply with requirements unless they receive federal funds or are under contract with a federal agency.</p>

          <p>However, Section 508 was also intended to encourage the development of technologies that help make information technology accessible, and in this spirit AbilityList.org is regularly monitored to ensure that it meets and exceeds the requirements of Section 508.</p>

          <b>How Is AbilityList.org Tested for Accessibility?</b><p></p>

          <p>As part of the development process and ongoing website maintenance, the AbilityList.org team tests the site using several different assistive technologies, including screen readers, screen magnifiers, speech recognition software and text-only browsers. Our team also uses tools, such as the W3C HTML Validator, WAVE by WebAIM and the Color Contrast Analyzer, to ensure the best experience possible for all visitors.</p>

          <b>Are you experiencing an issue related to accessibility?</b><p></p>

          <p>Send an email describing your experience to <a class="blue-link" href="mailto:accessibility@abilitylist.org">accessibility@abilitylist.org</a>. We’ll look into it as soon as we can.</p>



        </div><!-- /Accessibility Statement -->



        <!-- Be involved -->
        <div class="col-lg-12" style="border-top: 1px solid #A0A1A2; margin-top: 50px;">
          <a class="anchor" id="be-involved-a"></a>
          <h1 class="thin-gray" style="text-align: center; color: #2E2C2E; padding: 30px; font-size: 45px;">Let's Get To It</h1>

          <div class="row be-involved-row">
            <div class="col-md-6 be-involved-col">
              <p class="be-involved-sub-heading">Follow, Tweet, Like, & Share</p>
              <p>Join us on social media for insightful and informative stories that matter to people with disabilities.</p>
              <img src="/img/about/social-media-chat.png" class="social-media-chat">
            </div>
            <div class="col-md-6">
              <p class="be-involved-sub-heading">Sign Up & Start Sharing</p>
              <p>Sharing is caring.  Whether it’s a great new service, a housing opportunity, or a job opening, the information you share on AbilityList could change someone’s life.</p>
              <img src="/img/about/sign-up-tablet.png" class="sign-up-tablet">
            </div>
          </div>

          <div class="row" style="color: #909192;">
            <div class="col-md-6 be-involved-col">
              <p class="be-involved-sub-heading pad-sub-heading">Get Updates that Empower</p>
              <p>You’ll never miss a post when you use our subscription services.  On AbilityList you can follow other users, tag your interests, and get notifications as soon as posts go live.</p>
              <img src="/img/about/post-resource-laptop.png" class="sign-up-tablet">
              <img src="/img/about/donate-heart.png" class="pull-right donate-heart-with-line">                          
            </div>
            <div class="col-md-6">
              <p class="be-involved-sub-heading pad-sub-heading">Become an AbilityList Ambassador</p>
              <p>Ambassadors are crucial to AbilityList.  They monitor what’s submitted so that only relevant listings go live, and harmful or offensive content is never posted.  They source new resources for the network and help us keep the site up to date.  Interested?  Get in touch [hyperlink] to find out more.</p>
              <img src="/img/about/feedback-bubble.png" class="sign-up-tablet" style="margin-top: 30px;">
            </div>
          </div>

          <div class="row" style="color: #909192; text-align: center;">
            <div class="col-lg-12">  
              <p class="be-involved-sub-heading">Give</p> 
              <p>There’s a reason they call it not-for-profit.  Whether it’s one dollar or one hundred, any gift you make to AbilityList helps us make life a little simpler for people with disabilities.  Did we mention we’re a federally certified 501 c3?</p>
            </div>                
          </div>
          <div class="row" style="margin-top: 40px; margin-bottom: 40px;">
            <div class="col-sm-4 col-sm-offset-4">
              <a class="btn btn-primary btn-lg btn-block btn-block-donate" href="#/my/donate">DONATE NOW</a>  
            </div>
          </div>
        </div><!-- /Be involved -->
      </div><!-- /Row -->
      <div class="row">
        <div class="col-md-12">
          <div style="font-size: 11px; color: #c1c5c9;">
            <div style="padding: 2px; font-weight: bold;">References</div>
            <sup>1</sup> Brault, Mathew W. "20 Years of the Americans with Disabilities Act." PsycEXTRA 
            Dataset (2010): 4. United States Census Bureau. Web. 29 May 2015.<br>
            <sup>2</sup> Chan, Margaret, and Robert Zoellick. Preface. World Report on Disability. Geneva, Switzerland: World Health Organization, 2011. Xi. The World Bank, 01 Jan. 2011. Web. 27 May 2015.
          </div>
        </div>
      </div>
    </div><!-- /container-fluid -->
  </div><!-- /#page-content-wrapper -->
</div>

<script>
  var nav_links = ["#nav-api-overview", "#nav-getting-started" ];


  $(window).scroll(function (event) {
    var scroll = $(window).scrollTop();
    console.log(scroll);
    if (scroll >= 0 && scroll < $("#api-overview-a").offset().top) {
      remove_scroll_spy_class();
      $("#nav-api-overview").addClass( "scroll-spy" );
    } else if (scroll >= $("#getting-started-a").offset().top && scroll < $("#how-this-works-a").offset().top){
      remove_scroll_spy_class();
      $("#nav-getting-started").addClass( "scroll-spy" );        
    } else if (scroll >= $("#how-this-works-a").offset().top && scroll < $("#our-team-a").offset().top){
      remove_scroll_spy_class();
      $("#nav-how-this-works").addClass( "scroll-spy" );        
    } else if (scroll >= $("#our-team-a").offset().top && scroll < $("#board-of-advisors-a").offset().top){
      remove_scroll_spy_class();
      $("#nav-our-team").addClass( "scroll-spy" );        
    } else if (scroll >= $("#board-of-advisors-a").offset().top && scroll < $("#accessibility-statement-a").offset().top){
      remove_scroll_spy_class();
      $("#nav-board-of-advisors").addClass( "scroll-spy" );        
    } else if (scroll >= $("#accessibility-statement-a").offset().top && scroll < $("#be-involved-a").offset().top){
      remove_scroll_spy_class();
      $("#nav-accessibility-statement").addClass( "scroll-spy" );        
    } else if (scroll >= $("#board-of-advisors-a").offset().top){
      remove_scroll_spy_class();
      $("#nav-be-involved").addClass( "scroll-spy" );        
    }    
  });
  function remove_scroll_spy_class() {
    for(i = 0; i < nav_links.length; i++) {
      $(nav_links[i]).removeClass("scroll-spy");
    }
  }

</script>
