<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.4/css/bootstrap-select.css" rel="stylesheet">
<div class="wrapper landing-wrapper-1">
	<div class="container padded">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="landing-h1">Find and share disability resources, in your hometown and across the country.</h1>
			</div>
		</div>
	</div>
	<div id="prompt-canvas">
			<form id="search" name="search" action="/browse" method="get">
					<div id="location-canvas">
						My postal code is <input type="text" name="location" id="search-location" maxlength="5" autocomplete="off" placeholder="10003" autofocus="true">
					</div>
					<div id="category-canvas" style="display: none;">
						and I am looking for
						<select class="selectpicker" name="tag" id="search-tag" onchange="this.form.submit()">
							<option value="" disabled selected style="display:none;" aria-hidden="true">Athletics</option>
					    <option>Athletics</option>
					    <option>Transportation</option>
					    <option>Support Groups</option>
					    <option>Housing</option>
					    <option>Jobs</option>
					    <option>Medical/ Health</option>
					    <option>All</option>
					  </select>
					</div>
			</form>
	</div>
</div>
<div class="wrapper donate-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<img src="/img/landing/nyc-skyline.png" class="landing-nyc-skyline">
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="row">
					<div class="col-sm-8 white">
						<p>
						Be a part of what’s good in the world.  Help us grow our network of support.</p>
					</div>
					<div class="col-sm-4">
						<a class="btn btn-primary btn-lg btn-block btn-block-donate" href="/users/sign_in">Join Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper how-it-works-wrapper">
	<div class="container">
		<img src="/img/landing/arrow-down-grey.png" class="scroll-arrow" onclick="scrollToAnchor('how-it-works-anchor')">
		<h1 class="thin-gray">Welcome to the List</h1>
		<a class="landing-anchor" name="how-it-works-anchor"></a>
		<p class="landing-everything-they-need">AbilityList is the first local and national directory where people with disabilities can find and share the resources they need: <a href="/browse?tag=housing" class="blue-link">housing</a>, <a href="/browse?tag=education" class="blue-link">education</a>, <a href="/browse?tag=transportation" class="blue-link">transportation</a>, <a href="/browse?tag=jobs" class="blue-link">jobs</a>, <a href="/browse?tag=recreation" class="blue-link">recreation</a>, <a href="/browse?tag=medical" class="blue-link">medical</a>, <a href="/browse?tag=education" class="blue-link">education</a>, <a href="/browse?tag=direct+support" class="blue-link">direct support</a>, <a href="/browse?tag=non-profit" class="blue-link">non-profits</a>, <a href="/browse?tag=event" class="blue-link">events</a>, and so much more.</p>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<img src="/img/igg/how-it-works-transparent.png" class="landing-laptop">
			</div>
		</div>
				<h3 class="thin-gray margin-3">A community to find and share what you need most.</h3>
	</div>
</div>

<div class="wrapper story-wrapper">
	<div class="container">
		<img src="/img/landing/arrow-down-white.png" class="scroll-arrow" onclick="scrollToAnchor('featured-resources-anchor')">

		<!-- /slide-1 -->
		<div class="row featured-resources-scroll-container">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="row">
					<div class="col-md-1">
						<img onclick="slide()" src="/img/landing/arrow-left-white.png" class="arrows-left-right">
					</div>
					<div class="col-md-5">

						<div id="slide-1-1" class="scroll-enabled">
							<h2 style="font-weight:200; color: #595656; text-align: left;">We love...</h2>
	        		<a class="anchor" name="featured-resources-anchor"></a>

							<%= link_to image_tag("/img/landing/journey-app.png", :class => "journey-app-photo"), "https://abilitylist.org/resources/142", :target => "_blank" %>

							<div class="featured-tags-container">
								<a type="button" class="btn btn-default btn-sm">Technology</a>
								<a type="button" class="btn btn-default btn-sm">Social Network</a>
								<a type="button" class="btn btn-default btn-sm">App</a>
								<a type="button" class="btn btn-default btn-sm">iOS</a>
								<a type="button" class="btn btn-default btn-sm">Android</a>
								<a type="button" class="btn btn-default btn-sm">Blogging</a>
							</div>
						</div>

						<div id="slide-2-1" class="scroll-enabled">
							<h2 style="font-weight:200; color: #595656; text-align: left;">We also love...</h2>
	        		<a class="anchor" name="featured-resources-anchor"></a>

							<%= link_to image_tag("/img/landing/axs_map.png", :class => "journey-app-photo"), "https://abilitylist.org/resources/143", :target => "_blank" %>

							<div class="featured-tags-container">
								<a type="button" class="btn btn-default btn-sm">Restaurants</a>
								<a type="button" class="btn btn-default btn-sm">Event spaces</a>
								<a type="button" class="btn btn-default btn-sm">Technology</a>
								<a type="button" class="btn btn-default btn-sm">Website</a>
								<a type="button" class="btn btn-default btn-sm">Food</a>
							</div>
						</div>

					</div>
					<div class="col-md-5">

						<div id="slide-1-2" class="scroll-enabled">
							<p class="journey-description">Journey is an iOS mobile app that changes the idea of typical social networking. It allows people to stand out and learn from and educate others that are dealing with similar situations. Get their mobile app and share your story!</p>

							<%= link_to image_tag("/img/landing/download-app-store.png", :class => "app-store-btn"), "https://itunes.apple.com/us/app/journey-positive-social-network/id952520398?ls=1&mt=8", :target => "_blank" %>

						</div>

						<div id="slide-2-2" class="scroll-enabled">
							<p class="journey-description">AXSMap is an amazingly simple to use website and app to find accessible places in your area. Browse for restaurants, or whatever, and then rate and share your experience with friends!

							<div style="padding-left: 50px; padding-right: 50px;">
							<a class="btn btn-success btn-lg btn-block" href="https://www.axsmap.com/" target="_blank" style=" margin-top: 30px;">Visit AXSMap</a>
							</div>
							</p>

						</div>

					</div>
					<div class="col-md-1">
						<img onclick="slide()" src="/img/landing/arrow-right-white.png" class="arrows-left-right">
					</div>
				</div>
			</div>
		</div>
		<!-- /slide-1 -->


	</div>
</div>

<div class="wrapper submit-resource-wrapper">
	<div class="container">
		<img src="/img/landing/arrow-down-grey.png" class="scroll-arrow" onclick="scrollToAnchor('share-what-you-know-anchor')">
		<h1 class="thin-gray">Share what you know</h1>
    <a class="anchor" name="share-what-you-know-anchor"></a>

		<p class="landing-post-a-resource">Posting to AbilityList is easy.  Just go to <a href="/resources/new" class="blue-link">share</a>, and in four simple steps you can submit your resource to our Ambassadors - they do the rest.</p>
		<p>Short on time?  Give us the basics and we’ll submit your resource for you.</p>

		<%= form_tag('/submit_resource') do -%>
		<div class="row" style="text-align: left; padding-top: 15px;">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group share-form-right">
							<label for="name">*Your name</label><br>
							<input type="text" id="name" name="name" class="form-control" required="true">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group share-form-left">
							<label for="email">*Email</label><br>
							<input type="text" id="email" name="email" class="form-control" required="true">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group share-form-right">
							<label for="title">*Title</label><br>
							<input type="text" id="title" name="title" class="form-control" required="true">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group share-form-left">
							<label for="url">*Resource URL</label><br>
							<input type="text" id="url" name="url" class="form-control" required="true">
						</div>
					</div>
				</div>
			</div>
		</div>

		<input class="btn btn-lg btn-info" id="transparent-btn-dark" type="submit" value="Submit">
		<% end -%>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<img src="/img/igg/laptop-transparent.png" class="landing-laptop" style="margin-bottom: -30px;">
			</div>
		</div>

	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Before you go...</h4>
      </div>
      <div class="modal-body">
				<p>We want to express how great it would be if you filled out a profile -- it's 100% free, and all are welcome. Anything you share about yourself and your interests will be used to improve AbilityList. We're still in the growing stage and would love for you to be a part.</p>
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3">
						<br>
						<button type="button" class="btn btn-primary btn-lg btn-block" style="font-weight: 200;" onclick="window.location='/users/auth/facebook'">Sign up with Facebook</button><br>
		        <p class="text-center">or</p>

						<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			        <%= devise_error_messages! %>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3">
						<%= f.label :first_name %>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
			        <%= f.text_field :first_name, autofocus: true, :class => "form-control" %>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3">
						<%= f.label :last_name %>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<%= f.text_field :last_name, :class => "form-control" %>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3">
						<%= f.label :email %>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<%= f.email_field :email, :required => true, :class => "form-control" %>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3">
						<%= f.label :password %>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<%= f.password_field :password, autocomplete: "off", :required => true, :class => "form-control" %>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3">
						<%= f.label :password_confirmation %>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<%= f.password_field :password_confirmation, autocomplete: "off", :required => true, :class => "form-control" %>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3">
						<%= f.label :address_postal, "Postal address" %>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<%= f.text_field :address_postal, :placeholder => "90210", :class => "form-control" %>
						</div>
					</div>
				</div>

				<% unless ENV['is_staging'] == "true" %>
				<div class="row">
					<div class="col-lg-3">
						<%= f.label :nothing, "Captcha" %>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<%= recaptcha_tags %>
						</div>
					</div>
				</div>
				<% end %>

				<div class="row">
					<div class="col-lg-6 col-lg-offset-3">
						<%= f.submit "Create my profile", :class => 'btn btn-info btn-lg btn-block' %>
					</div>
				</div>

				<% end %>
      </div>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.4/js/bootstrap-select.js"></script>
<script src="/js/landing.js"></script>
<script>
	var signUpCookie = <%= @sign_up_modal_cookie_present %>;
	$( document ).ready(function() {

		$( "#topLeftMouseBox" ).mouseenter(function() {
			if(signUpCookie == false) {
				$('#signUpModal').modal('toggle');
				signUpCookie = true;
			}
		});


	  $( "#slide-2-1" ).toggle( "slide" );
	  $( "#slide-2-2" ).toggle( "slide" );
	 });


	function slide() {
	  $( "#slide-1-1" ).toggle( "slide" );
	  $( "#slide-1-2" ).toggle( "slide" );
	  $( "#slide-2-1" ).toggle( "slide" );
	  $( "#slide-2-2" ).toggle( "slide" );
	}
</script>
<script>
	function scrollToAnchor(aid){
	    var aTag = $("a[name='"+ aid +"']");
	    $('html,body').animate({scrollTop: aTag.offset().top - 170},'slow');
	}

</script>
