
	<div class="container" style="height: 65px;">
	  <div class="alert alert-info alert-dismissable" id="custom-alert">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    <strong>Check your email</strong> for a link to reset your password
	  </div>

	</div>

	<div class="container">
		<div class="row" style="padding-top: 15px;">
  		<div class="col-sm-8 col-sm-offset-2">
				<a href="/" class="btn btn-info btn-lg btn-block"><i class="fa fa-undo"></i> Return Home</a>
    	</div>
    </div>
	</div>


<style>
	body {background: #3e4449;}
	html,
	body {
	   margin:0;
	   padding:0;
	   height:100%;
	}
	#wrapper {
   min-height:100%;
	}
	#custom-alert {
		text-align: center; 
		background: transparent; 
		border: 1px solid transparent; 
		color: #eee; 
		font-size: 22px;
	}
	@media (max-width: 991px) {
	#custom-alert {
	  	font-size: 17px;
	  }
	}

</style>