<style>


</style>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="text-center" style="color: #00c7ff;">Sign up and win a $25 Gift Card to</h1>
      <%= image_tag("/img/contest/amazon-logo.png", class: "img-responsive center-block", alt: "Amazon.com Logo") %>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center" style="font-size: 80px;"><%= @entries %> Entries</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" style="border: 4px solid #75DAC1; background: #75DAC1; padding-top: 8px; padding-bottom: 8px;">
      <button type="button" class="btn btn-primary btn-lg btn-block" style="font-weight: 400;" onclick="window.location='/users/auth/facebook'">Sign up with Facebook</button>
      <h5 class="text-center">or</h5>
      <button type="button" class="btn btn-info btn-lg btn-block" style="font-weight: 400;" onclick="window.location='/users/sign_up'">Sign up with Email</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 class="text-center">Contest ends in <div id="countdown" style="display: inline-block;"></div></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="color: #c1c5c9;">

      <h3>Official Rules</h3>

      <p><strong>1. Eligibility:</strong> Sweepstakes (the “Sweepstakes”) is open only to those who create a profile with AbilityList.org and/ or refer new users and who are 18 as of the date of entry. The sweepstakes is only open to legal residents of the United States and is void where prohibited by law. Employees of Ability List, Inc (the “Sponsor”) their respective affiliates, subsidiaries, advertising and promotion agencies, suppliers and their immediate family members and/or those living in the same household of each are not eligible to participate in the Sweepstakes. The Sweepstakes is subject to all applicable federal, state and local laws and regulations. Void where prohibited.  </p>


      <p><strong>2. Agreement to Rules:</strong> By participating, you agree to be fully unconditionally bound by these Rules, and you represent and warrant that you meet the eligibility requirements set forth herein. In addition, you agree to accept the decisions of Ability List, Inc, as final and binding as it relates to the content. The Sweepstakes is subject to all applicable federal, state and local laws.</p>

      <p><strong>3. Sweepstakes Period:</strong> Entries will be accepted online starting on or about July 22, 2015 1:00 PM Eastern Time and ending August 1st, 2015 11:59 Eastern Time. All online entries must be received by August 1st, 2015  11:59PM Eastern Time.</p>
 
      <p><strong>4. How to Enter:</strong> The Sweepstakes must be entered by submitting an entry using the online form provided on this Sweepstakes site. The entry must fulfill all sweepstakes requirements, as specified, to be eligible to win a prize. Entries that are not complete or do not adhere to the rules or specifications may be disqualified at the sole discretion of Ability List, Inc. You may by registering for AbilityList.org only once and you must fill in the information requested. You may not enter more times than indicated by using multiple email addresses, identities or devices in an attempt to circumvent the rules. You may also receive additional entries by successfully referring other new users and the number of entries you receive by referring new users has no limit. If you use fraudulent methods or otherwise attempt to circumvent the rules your submission may be removed from eligibility at the sole discretion of Ability List, Inc.</p>

      <p><strong>5. Prizes:</strong> Winners will receive one Gift Card to Amazon.com valued at twenty-five US dollars. Actual/appraised value may differ at time of prize award. The specifics of the prize shall be solely determined by the Sponsor. No cash or other prize substitution permitted except at Sponsor's discretion. The prize is nontransferable. Any and all prize related expenses, including without limitation any and all federal, state, and/or local taxes shall be the sole responsibility of the winner. No substitution of prize or transfer/assignment of prize to others or request for the cash equivalent by winners is permitted. Acceptance of prize constitutes permission for Ability List, Inc to use winner's name, likeness, and entry for purposes of advertising and trade without further compensation, unless prohibited by law.</p>
 
      <p><strong>6. Odds:</strong> The odds of winning depend on the number of eligible entries received.</p>

      <p><strong>7. Winner selection and notification:</strong> Winners of the Sweepstakes will be selected in a random drawing under the supervision of the Sponsor. Winners will be notified via email to the email address they entered the Sweepstakes with within five (5) days following the winner selection. Ability List, Inc shall have no liability for a winner's failure to receive notices due to winners' spam, junk e-mail or other security settings or for winners' provision of incorrect or otherwise non-functioning contact information. If the selected winner cannot be contacted, is ineligible, fails to claim the prize within 15 days from the time award notification was sent, or fails to timely return a completed and executed declaration and releases as required, prize may be forfeited.</p>

      <p>The receipt by winner of the prize offered in this Sweepstakes is conditioned upon compliance with any and all federal and state laws and regulations. ANY VIOLATION OF THESE OFFICIAL RULES BY ANY WINNER (AT SPONSOR'S SOLE DISCRETION) WILL RESULT IN SUCH WINNER'S DISQUALIFICATION AS WINNER OF THE SWEEPSTAKES AND ALL PRIVILEGES AS WINNER WILL BE IMMEDIATELY TERMINATED.</p>

      <p><strong>8. Rights Granted by you:</strong> By entering this content you understand that Ability List, Inc, anyone acting on behalf of Ability List, Inc, or its respective licensees, successors and assigns will have the right, where permitted by law, without any further notice, review or consent to print, publish, broadcast, distribute, and use, worldwide in any media now known or hereafter in perpetuity and throughout the World, your entry, including, without limitation, the entry and winner's name, portrait, picture, voice, likeness, image or statements about the Sweepstakes, and biographical information as news, publicity or information and for trade, advertising, public relations and promotional purposes without any further compensation.</p>
 
      <p><strong>9. Terms:</strong> Ability List, Inc reserves the right, in its sole discretion to cancel, terminate, modify or suspend the Sweepstakes should (in its sole discretion) a virus, bugs, non-authorized human intervention, fraud or other causes beyond its control corrupt or affect the administration, security, fairness or proper conduct of the Sweepstakes. In such case, Ability List, Inc may select the recipients from all eligible entries received prior to and/or after (if appropriate) the action taken by Ability List, Inc. Ability List, Inc reserves the right at its sole discretion to disqualify any individual who tampers or attempts to tamper with the entry process or the operation of the Sweepstakes or website or violates these Terms & Conditions.</p>
 
      <p>Ability List, Inc has the right, in its sole discretion, to maintain the integrity of the Sweepstakes, to void votes for any reason, including, but not limited to; multiple entries from the same user from different IP addresses; multiple entries from the same computer in excess of that allowed by sweepstakes rules; or the use of bots, macros or scripts or other technical means for entering.</p>
      
      <p>Any attempt by an entrant to deliberately damage any web site or undermine the legitimate operation of the sweepstakes may be a violation of criminal and civil laws and should such an attempt be made, Ability List, Inc reserves the right to seek damages from any such person to the fullest extent permitted by law.  By entering the Sweepstakes you agree to receive email newsletters periodically from Ability List, Inc. You can opt-out of receiving this communication at any time by clicking the unsubscribe link in the newsletter.</p>

      <p><strong>10. Limitation of Liability:</strong> By entering you agree to release and hold harmless Ability List, Inc and its subsidiaries, affiliates, advertising and promotion agencies, partners, representatives, agents, successors, assigns, employees, officers and directors from any liability, illness, injury, death, loss, litigation, claim or damage that may occur, directly or indirectly, whether caused by negligence or not, from (i) such entrant's participation in the sweepstakes and/or his/her acceptance, possession, use, or misuse of any prize or any portion thereof, (ii) technical failures of any kind, including but not limited to the malfunctioning of any computer, cable, network, hardware or software; (iii) the unavailability or inaccessibility of any transmissions or telephone or Internet service; (iv) unauthorized human intervention in any part of the entry process or the Promotion; (v) electronic or human error which may occur in the administration of the Promotion or the processing of entries.</p>
 
      <p><strong>11. Disputes:</strong> THIS SWEEPSTAKES IS GOVERNED BY THE LAWS OF The United States of America AND New York, WITHOUT RESPECT TO CONFLICT OF LAW DOCTRINES. As a condition of participating in this Sweepstakes, participant agrees that any and all disputes which cannot be resolved between the parties, and causes of action arising out of or connected with this Sweepstakes, shall be resolved individually, without resort to any form of class action, exclusively before a court located in [state/province] having jurisdiction. Further, in any such dispute, under no circumstances will participant be permitted to obtain awards for, and hereby waives all rights to claim punitive, incidental, or consequential damages, including reasonable attorneys' fees, other than participant's actual out-of-pocket expenses (i.e. costs associated with entering this Sweepstakes), and participant further waives all rights to have damages multiplied or increased.</p>
 
      <p><strong>12. Privacy Policy:</strong> Information submitted with an entry is subject to the Privacy Policy stated on the Ability List, Inc Web Site. <!-- To read the Privacy Policy, [privacy policy URL] click here. --></p>
 
 
      <p><strong>13. Winners List:</strong> To obtain a copy of the winner's name or a copy of these Official Rules, mail your request along with a stamped, self-addressed envelope to: Ability List, Inc 240 Kent Ave 2ND FLR Brooklyn, NY 11249. Requests must be received no later than September 1, 2015.</p>
 
      <p><strong>14. Sponsor:</strong>  The Sponsor of the Sweepstakes is Ability List, Inc 240 Kent Ave 2ND FLR Brooklyn, NY 11249.</p>







    </div>
  </div>
  <br>
</div>

<script>
var end = new Date('08/01/2015 11:59 PM');

    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;

    function showRemaining() {
        var now = new Date();
        var distance = end - now;
        if (distance < 0) {

            clearInterval(timer);
            document.getElementById('countdown').innerHTML = 'The contest has ended.';

            return;
        }
        var days = Math.floor(distance / _day);
        var hours = Math.floor((distance % _day) / _hour);
        var minutes = Math.floor((distance % _hour) / _minute);
        var seconds = Math.floor((distance % _minute) / _second);

        document.getElementById('countdown').innerHTML = days + ' days ';
        document.getElementById('countdown').innerHTML += hours + ' hrs ';
        document.getElementById('countdown').innerHTML += minutes + ' mins ';
        document.getElementById('countdown').innerHTML += seconds + ' secs';
    }

    timer = setInterval(showRemaining, 1000);
</script>

