<style>

ul.affix {
    position: fixed; 
    top: 50px;
    left: 100px;
    width: 293px;
}
ul.affix-top {
    position: fixed; 
    top: 50px;
    left: 100px;
    width: 293px;
}
ul.affix-bottom {
    position: absolute;
}

/* First level of nav */
.sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
}

/* Nav: second level */
.sidebar .nav .nav {
  margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}
#content {
    margin-top:30px;
    }
.about-chev {
  color: #C1C8D0;
  padding-right: 10px;
  padding-top: 15px;
}
h3 {
  color: #666666;
}
a.anchor{display: block; position: relative; top: -70px; visibility: hidden;}
</style>

<link href="/simple-sidebar.css" rel="stylesheet">

<div style="padding-left: 20px; padding-right: 20px;">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/thankyou">
                        Indiegogo Update
                    </a>
                </li>
                <li>
                    <a href="/thankyou">Crowdfunding Success<i class="fa fa-chevron-right pull-right about-chev"></i></a>
                </li>
                <li>
                    <a href="#supporters-anchor">Supporters<i class="fa fa-chevron-right pull-right about-chev"></i></a>
                </li>
                <li>
                    <a href="#get-involved-anchor">Continue Your Support<i class="fa fa-chevron-right pull-right about-chev"></i></a>
                </li>
                <!--
                <li>
                    <a href="#our-team-anchor">Post a Resource<i class="fa fa-chevron-right pull-right about-chev"></i></a>
                </li>
              -->
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10">
                      <article id="basic-info">
                        <h2 style="border-bottom: 1px solid #eee; color: #00c7ff;">We Did It!</h2>
                        <section id="mission"><p>On February 15, 2015 our Indiegogo campaign successfully raised <strong>$10,228 dollars</strong> from <strong>137 wonderful individuals</strong>. </p></section>

                        <img style="width: 100%;" src="/img/finished_igg_campaign.png">
                      </article>
                      <br>
                      <article id="supporters">
                        <a class="anchor" id="supporters-anchor"></a>
                        <h2 style="border-bottom: 1px solid #eee; color: #00c7ff;">Thank You To Our Supporters</h2>
                        <section id="six-categories">

                          <div class="row">
                            <div class="col-sm-3">
                              Samantha Plakun<br>
                              Benjamin Nunnery<br>
                              Lauren Noble<br>
                              Kyle DeLeon<br>
                              Gothelfre<br><br>

                              Laura Santoski<br>
                              Patricia Sun<br>
                              Amy Ziff<br>
                              Paige Zelinsky<br>
                              Miya Libes<br><br>

                              Job Amaro<br>
                              Jamie Dwyer<br>
                              Ryan Boyd<br>
                              Geoff McGrane<br>
                              Laura Thomas<br><br>

                              Nalini<br>
                              Donna & David Neumark<br>
                              Laurie Davis<br>
                              Dale & Blanca Inouye<br>
                              Zach & Nisia Clifford<br><br>

                              Jonathan Drillings<br>
                              Lon & Pat Zitek<br>
                              Somya Prakash<br>
                              Alex Simonoff<br>
                              Larry Darrah<br><br>

                              Nancy Waring<br>
                              Alex Krug<br>
                              David Wolfe<br>
                              Amber Landis-Stover<br>
                              Inwords<br><br>




                            </div>
                            <div class="col-sm-3">
                              Natalie Wilmore<br>
                              Tim Kelly<br>
                              Sebastian Schwelm<br>
                              Jonathan Bell<br>
                              Robin Blidje<br><br>

                              Leo Shemesh<br>
                              Sgothelf<br>
                              Sharon<br>
                              Sara Draper Zivetz<br>
                              Hayley Samuelson<br><br>

                              Kerry Griffin<br>
                              Leslie Borrel<br>
                              Jonathan Perkel<br>
                              Elizabeth Noble<br>
                              Kimberly Weiss<br><br>

                              Joe Pirro<br>
                              Adolfo Mendez<br>
                              Whg3md<br>
                              Ryan Williams<br>
                              Nile<br><br>

                              Dianne Murphy<br>
                              David Bernstein<br>
                              Matt Turlip<br>
                              Laura Thomas<br>
                              Nick Haycock<br><br>

                              John David Schramm<br>
                              Molly Ganley<br>
                              Allyson Scarchilli<br>
                              Scott Ritter<br>
                              Calvin Lee<br><br>

                            </div>
                            <div class="col-sm-3">
                              Mary & Jonathon Woody<br>
                              Ben Cockerham<br>
                              Steven George<br>
                              Gina Carr<br>
                              Rlev78<br><br>

                              Thomas Barber<br>
                              Alex Banayan<br>
                              Dan MacCombie<br>
                              Cnebiar<br>
                              Radha Agrawal<br><br>

                              Donna Gothelf<br>
                              Jack DiMassimo<br>
                              Tommy<br>
                              Dylan Karten<br>
                              David Brooks<br><br>

                              Conor Dolan<br>
                              Talya Sarit<br>
                              Jason Kronstat<br>
                              Emily Gordon<br>
                              Jon Phillips<br><br>

                              Simon<br>
                              Vlkahn<br>
                              Katie Maro<br>
                              Eric De Feo<br>
                              Carlos Valdivia<br><br>

                              Vilasinee Bunnag<br>
                              Ashley Quinn<br>
                              Islandjosh<br>                              



                            </div>
                            <div class="col-sm-3">

                              David Stemler<br>
                              Brian Sirgutz<br>
                              Rmye Agrawal<br>
                              Msoverel<br>
                              Rachel Eisley<br><br>

                              Casey Velasquez<br>
                              Yanwei Zhu<br>
                              Lilacsinbloom<br>
                              Darren<br>
                              Joseph Piekarski<br><br>

                              Jamine Hamed<br>
                              Deborah Windham<br>
                              TJ Bennet<br>
                              Whitney Falk<br>
                              Mathew Brimer<br><br>

                              Erica Sietsma<br>
                              Lujan484<br>
                              Jeremy Hersh<br>
                              Leslie Borrel<br>
                              Jared Height<br><br>

                              Rick Laston Jr<br>
                              Peter Petracca<br>
                              Ttayrona<br>
                              Nick Michlewicz<br>
                              Chris Fairbanks<br><br>                              





                            </div>
                          </div>
                        </article>
                      <br>  
                      <article id="get-involved">
                        <a class="anchor" id="get-involved-anchor"></a>
                        <h2 style="border-bottom: 1px solid #eee; color: #00c7ff;">Continue Your Support By Registering</h2>
                          <section id="start-sharing"><h3>You can help us tremendously just by making an account</h3>
                            <p>Every person that registers helps to demonstrate the growth and future of AbilityList. It takes seconds and is completely free. FYI, we'll never spam your inbox with unwanted emails. </p>
<div class="row" style="padding-top: 15px;">

    <div class="col-sm-8 col-sm-offset-2">
<button type="button" class="btn btn-primary btn-lg btn-block" style="font-weight: 200;" onclick="window.location='/users/auth/facebook'">Sign up with Facebook</button>
<button type="button" class="btn btn-info btn-lg btn-block" style="font-weight: 200;" onclick="window.location='/users/sign_up'">Sign up with Email</button>
    </div>
    </div>

                          </section>


                        </article>
                      <br>  
                      <!--
                      <article id="our-team">
                        <a class="anchor" id="our-team-anchor"></a>
                        <h2 style="border-bottom: 1px solid #eee; color: #00c7ff;">Our Team</h2>
                          <section id="andrew-horn"><p><div>
                            <img src="/horn-headshot.jpg" style="width: 98%;">
                            <h3>Andrew Horn</h3>
                            <h5>Founder and CEO</h5>          
                            <p>Andrew is a 27 year old social entrepreneur who is passionate about building community and empowering individuals to change the world. He founded his first organization,&nbsp;<a style="color: #2C7D96;" href="http://dreamsforkids.org" target="blank" class="my_link">Dreams for Kids D.C.</a>, when he was only 22 years old and has gone on to start several other successful for-profit and philanthropic ventures since.<br><br>
                            Andrew started working on AbilityList in 2012 after he identified a need for it while providing adaptive athletics for youth in the Washington, D.C. region. It was very difficult to reach new families and organizations, so Andrew created “community list serves” that gave him and other organizations an easy channel to email their offerings around to one another. After the success of this project, Andrew resolved to create a new platform where people and organizations could easily share ALL of the relevant disability resources that were available in their hometown. <br><br>
                            Andrew also writes and speaks on entrepreneurship, lifestyle and “The art of connecting” on his <a style="color: #2C7D96;" target="blank" href="http://itsandrewhorn.com/" class="my_link">personal website</a>. <br><br>

                            <a href="http://facebook.com/itsandrewhorn" style="line-height: 30px;"><img src="/facebook.png" style="width: 24px;"> Facebook</a><br>
                            <a href="http://twitter.com/itsandrewhorn" style="line-height: 30px;"><img src="/twitter.png" style="width: 24px;"> Twitter</a><br>
                            <a href="http://linkedin.com/in/itsandrewhorn" style="line-height: 30px;"><img src="/linkedin.png" style="width: 24px;"> Linked-In</a>
                          </p></div></p></section>
                          <section id="andrew-zitek"><p><div>
                            <img src="/zitek-headshot.jpg" style=" width: 98%;">
                            <h3>Andrew Zitek</h3>
                            <h5>Co-Founder and CTO </h5>          
                            <p>Zitek is a 24 year old Software Engineer who has a habit of bringing quality tech to non-profits and the public sector.</p>

                            <p>Zitek met Andrew H in the summer of 2013 and had an immediate connection with the idea of AbilityList-- his older brother Robert has a spinal cord injury. Growing up as someone without a disability himself, it was often difficult not knowing exactly what ways he could be supportive of his brother. The way things are, having a disability can appear isolating. Awareness of resources like wheelchair basketball leagues, job opportunites, and community activism are spread almost solely by word of mouth. Even vital information, like reviews of medical devices lacks a central location in which to be found. Zitek's dream is that AbilityList will be the go to place to find and share knowledge, and harness technology to connect people like his brother.</p>

                            <p>Before jumping into entrepreneurship, Zitek worked as a Software Engineer at an <a href="http://directathletics.com">athletic events</a> company. Before that, he studied Computer Science at NYU's <a href="http://www.cims.nyu.edu/">Courant Institute of Mathematical Sciences</a>. Zitek is NYC based but from <a href="https://www.google.com/?q=ventura+ca#q=ventura+ca">Ventura, CA</a>. He loves to take notes from his hometown's <a href="http://www.patagonia.com/us/home"> Patagonia clothing company</a> and their amazing <a href="http://www.patagonia.com/us/product/let-my-people-go-surfing-paperback-book?p=BK501-0">life and business philosophies</a>.
                             <br><br>

                            <a href="http://facebook.com/andrew.zitek" style="line-height: 30px;"><img src="/facebook.png" style="width: 24px;"> Facebook</a><br>
                            <a href="http://twitter.com/zeeee_tek" style="line-height: 30px;"><img src="/twitter.png" style="width: 24px;"> Twitter</a><br>
                            <a href="http://linkedin.com/pub/andrew-zitek/14/1a2/626" style="line-height: 30px;"><img src="/linkedin.png" style="width: 24px;"> Linked-In</a>
                         </p></div></p></section>
                          <section id="theresa-previ"><p><div>
                            <img src="/t-profile.jpg" style=" width: 98%;">
                            <h3>Theresa Previ</h3>
                            <h5>Co-Founder and COO</h5>          
                            <p>Theresa has been working in technology for 15 years, mostly in design, user experience, creative direction, and management roles. She's experienced the gamut of working with big global brands to small lean startups, the excitement of growing a business and the lessons learned of sustaining one. An entrepreneur with a handful of businesses under her belt, she is always open to good ideas and challenges.</p>

                            <p>Theresa first met Andrew Horn in 2012 as he introduced the idea of abilitylist. She loved the idea right away as her a nephew, Matt has Downs Syndrome. Now 19 years old, the reality of school ending for him next year and family unsure of what he'll do to occupy his time and find independence is stressful. She is determined to help make Abilitylist the number one place that people like Matt turn to find resources, connect with the community, and give back by sharing the helpful things that he knows. </p>
                            <br>

                            <a href="https://www.facebook.com/theresa.previ/" style="line-height: 30px;"><img src="/facebook.png" style="width: 24px;"> Facebook</a><br>
                            <a href="http://about.me/treemarie" style="line-height: 30px;"><img src="/twitter.png" style="width: 24px;"> About.me</a><br>
                            <a href="www.linkedin.com/in/theresaprevi/" style="line-height: 30px;"><img src="/linkedin.png" style="width: 24px;"> Linked-In</a>
                         </p></div></p></section>
                       </article>
-->

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
