<div class="footer-wrapper">
	<div class="container">

		<a class="btn btn-info" id="transparent-btn" href="/users/sign_up" aria-label="Donate">Join Now</a><br>

		<p class="footer-social-wrapper">
			<ul class="list-inline footer-social-list-white">
        <li id="icon-li"><a target="_blank" href="https://www.facebook.com/AbilityList"><i class="fa fa-facebook icon-circle icon-circle-white icon-facebook" aria-hidden="true"></i></a></li>
        <li id="icon-li"><a target="_blank" href="https://twitter.com/abilitylist" aria-hidden="true"><i class="fa fa-twitter icon-circle icon-circle-white"></i></a></li>
        <li id="icon-li"><a target="_blank" href="https://www.youtube.com/channel/UCaqLH8b3pyDd8bLw5SAMQtg"><i class="fa fa-youtube icon-circle icon-circle-white" aria-hidden="true"></i></a></li>
      </ul>
		</p>
		<p class="footer-nav-wrapper">
			<ul class="list-inline footer-nav-list">
			    <li><a href="/about#how-this-works-a">How this works</a></li>
			    <li><a href="/users/sign_up">Join now</a></li>
			    <li><a href="/resources/clarifyContent">Share</a></li>
			    <li><a href="/browse">Browse</a></li>
			    <li><a href="/about">About</a></li>
			    <li><a target="_blank" href="https://medium.com/@AbilityList.org">Blog</a></li>
			    <li><a href="/about#accessibility-statement-a">Accessibility</a></li>
			    <!-- <li><a href="/api">API</a></li> -->
			</ul>
		</p>
		<p class="copyright-wrapper">
			© 2014 Ability List, Inc | Federally certified 501(c)(3)
		</p>
	</div>
	<% if user_signed_in? %>
	<input type='hidden' class='runIntercomForLoggedInUser' name='runIntercomForLoggedInUser' id='runIntercomForLoggedInUser' value='1'>
	<script>
	var intercomLoggedInUser = {
		"fullName": "<%= current_user.first_name + " " + current_user.last_name %>",
		"email": "<%= current_user.email %>",
		"createdAtUnixTimestamp": <%= current_user.created_at.to_time.to_i %>,
		"id": "<%= current_user.id %>",
		"userHash": "<%= OpenSSL::HMAC.hexdigest('sha256', 'tW-FcwYRR3A93h7fvsmrGu8Qe5yuILSJ544YYbtR', current_user.email) %>"
	}
	</script>
	<% end %>
	<% if ENV["GOOGLE_TAG_MANAGER_CODE"]%>
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=<%= ENV["GOOGLE_TAG_MANAGER_CODE"] %>"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','<%= ENV["GOOGLE_TAG_MANAGER_CODE"] %>');</script>
	<!-- End Google Tag Manager -->
	<% end %>
</div>
