<%= form_for(@geocoded_address) do |f| %>
  <% if @geocoded_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geocoded_address.errors.count, "error") %> prohibited this geocoded_address from being saved:</h2>

      <ul>
      <% @geocoded_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :address_street %><br>
    <%= f.text_field :address_street %>
  </div>
  <div class="field">
    <%= f.label :address_city %><br>
    <%= f.text_field :address_city %>
  </div>
  <div class="field">
    <%= f.label :address_state %><br>
    <%= f.text_field :address_state %>
  </div>
  <div class="field">
    <%= f.label :address_postal %><br>
    <%= f.text_field :address_postal %>
  </div>
  <div class="field">
    <%= f.label :address_country %><br>
    <%= f.text_field :address_country %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
