<p id="notice"><%= notice %></p>

<h1>Listing Geocoded Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address street</th>
      <th>Address city</th>
      <th>Address state</th>
      <th>Address postal</th>
      <th>Address country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geocoded_addresses.each do |geocoded_address| %>
      <tr>
        <td><%= geocoded_address.location %></td>
        <td><%= geocoded_address.latitude %></td>
        <td><%= geocoded_address.longitude %></td>
        <td><%= geocoded_address.address_street %></td>
        <td><%= geocoded_address.address_city %></td>
        <td><%= geocoded_address.address_state %></td>
        <td><%= geocoded_address.address_postal %></td>
        <td><%= geocoded_address.address_country %></td>
        <td><%= link_to 'Show', geocoded_address %></td>
        <td><%= link_to 'Edit', edit_geocoded_address_path(geocoded_address) %></td>
        <td><%= link_to 'Destroy', geocoded_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geocoded address', new_geocoded_address_path %>
