<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @geocoded_address.location %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @geocoded_address.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @geocoded_address.longitude %>
</p>

<p>
  <strong>Address street:</strong>
  <%= @geocoded_address.address_street %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @geocoded_address.address_city %>
</p>

<p>
  <strong>Address state:</strong>
  <%= @geocoded_address.address_state %>
</p>

<p>
  <strong>Address postal:</strong>
  <%= @geocoded_address.address_postal %>
</p>

<p>
  <strong>Address country:</strong>
  <%= @geocoded_address.address_country %>
</p>

<%= link_to 'Edit', edit_geocoded_address_path(@geocoded_address) %> |
<%= link_to 'Back', geocoded_addresses_path %>
