
	<div class="container" style="height: 65px;">
		<% if flash[:notice] == 23%>
	  <div class="alert alert-info alert-dismissable" id="custom-alert">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    <strong>Posting a resource? </strong> You just have to sign in first.
	  </div>
		<% elsif flash[:notice] == 24 %>
		<div class="alert alert-info alert-dismissable" id="custom-alert">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    <strong>Wanna chat? </strong> You just have to sign in first.
	  </div>
	  <% elsif flash[:success] == "Check your inbox for a link to reset your password" %>
		  <div class="alert alert-info alert-dismissable" id="custom-alert">
		    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		    <strong>Check your inbox</strong> for a link to reset your password
		  </div>
		<% elsif flash[:alert] %>
		  <div class="alert alert-info alert-dismissable" id="custom-alert">
		    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		    <strong>Invalid email or password.</strong> Try again?
		  </div>
		<% end %>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 login-cols">

				  <div class="form-group" style="padding-left: 39px; padding-bottom: 20px;">
						<button type="button" class="btn btn-primary btn-lg btn-block" style="font-weight: 200;" onclick="window.location='/users/auth/facebook'">Sign in with Facebook</button>
				  </div>

				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				  <div class="form-group">
				  	<div class="input-group">
				  		<div class="input-group-addon" style="border: 0px solid transparent;background: transparent;"><i class="fa fa-user"></i></div>
				  		<label for="user_email" style="display:none;">Email</label>
				  		<%= f.email_field :email, :autofocus => true, :class => "form-control", :style => "border-radius: 3px;", :placeholder => "Email Address" %>
				  	</div>
					</div>

				  <div class="form-group">
				  	<div class="input-group">
							<div class="input-group-addon" style="border: 0px solid transparent;background: transparent;"><i class="fa fa-lock"></i></div>
				  		<%= f.password_field :password, :class => "form-control", :style => "border-radius: 3px;", :placeholder => "Password" %>
				  	</div>
				  </div>

				  <% if devise_mapping.rememberable? -%>
				    <!-- <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div> -->
				  <% end -%>

				  <div class="form-group" style="padding-left: 39px; padding-top: 20px;">
				  	<%= f.submit "Sign in", :class => 'btn btn-info btn-lg btn-block' %>
				  </div>
				<% end %>

				<%= render "devise/shared/links" %>

			</div>
		</div>
	</div>


<style>
	body {background: #3e4449;}
	html,
	body {
	   margin:0;
	   padding:0;
	   height:100%;
	}
	#wrapper {
   min-height:100%;
	}
	#custom-alert {
		text-align: center;
		background: transparent;
		border: 1px solid transparent;
		color: #eee;
		font-size: 22px;
	}
	@media (max-width: 991px) {
	#custom-alert {
	  	font-size: 17px;
	  }
	}

</style>
