<%= form_for(@saved) do |f| %>
  <% if @saved.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saved.errors.count, "error") %> prohibited this saved from being saved:</h2>

      <ul>
      <% @saved.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :resource_id %><br>
    <%= f.number_field :resource_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
