<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @saved.user_id %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @saved.resource_id %>
</p>

<%= link_to 'Edit', edit_saved_path(@saved) %> |
<%= link_to 'Back', saveds_path %>
