<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h5>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% unless @resource.user_id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>

  <%= f.hidden_field :basics_complete, :value => true %>
  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :name, "RESOURCE NAME" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :name, :placeholder => " e.g. Empire Association of the Deaf", :class => "form-control", :maxlength => "63" %>
    </div>
  </div>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :address_street, "ADDRESS" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :address_street, :placeholder => "Street Number and Street Name", :class => "form-control" %>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-8">
      <%= f.text_field :address_city, :placeholder => "City", :class => "form-control", :style => "margin-top: 4px;" %>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-5">
      <%= f.select(:address_state, us_states, {include_blank: false}, {class: "form-control inline-input", style: "margin-top: 4px;"}) %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :address_postal, :placeholder => "Postal code", :class => "form-control inline-input", :style => "margin-top: 4px;" %>
    </div>
  </div>
  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :nationwide, "NATIONWIDE" %>
      <button type="button" style="border: 0px solid transparent; font-size: 11px;" class="btn btn-default btn-sm popover-dismiss" data-toggle="popover" title="Nationwide Resources" data-content="Though most resources on Ability List are discovered through geographical searches, resources like hotlines and some websites sometimes do not have a physical location. We call these nationwide resources.">?</button>
    </div>
    <div class="col-sm-8">
      <%= f.check_box :nationwide %> Yes, this resource provides for all regions of the nation
      <style>
.popover-title {
    font-weight: bold;
    font-size: 15px;
}
.popover-content {
    font-size: 12px;
    width: 240px;
}
      </style>
      <script>


    $('.popover-dismiss')
       .popover()
       .click(function(e) { 
           e.preventDefault(); 
           $(this).focus(); 
       });
      </script>
    </div>
  </div>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :anonymous, "ANONYMOUS" %>
    </div>
    <div class="col-sm-8">
      <%= f.check_box :anonymous %> I don't want my name displayed next to this resource
    </div>
  </div>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :phone, "PHONE NUMBER" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :phone, :class => "form-control", :placeholder => " 999-999-9999" %>
    </div>
  </div>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :description, "DESCRIPTION" %>
    </div>
    <div class="col-sm-8" style="text-align: right;">
      <%= f.bootsy_area :description  %>
    </div>
  </div>

  <div class="actions flow-submit-container">
    <%= button_to "Save & Continue", {}, {class: 'btn btn-info'} %>
  </div>
<% end %>
