<%= form_for(@resource_upload) do |f| %>
  <% if @resource_upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_upload.errors.count, "error") %> prohibited this resource_upload from being saved:</h2>

      <ul>
      <% @resource_upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :resource_id, :value => params[:id] %>
  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :photo, "RESOURCE PHOTO" %>
      <div style="font-size: 11px;">(Optional.)</div>
    </div>
    <div class="col-sm-8">
      <%= f.file_field :photo %><br>
      <%= button_to "Upload File", {}, {class: 'btn btn-primary'} %>
<% end %>
    </div>
  </div>

<!-- THERE IS A SEPARATE FORM FOR CROPPING -->
<% if @resource.resource_upload %>
    <div class="row form-row form-row-border-bottom">
      <div class="col-sm-4">
        <label for="resource_upload_photo">PREVIEW</label>
      </div>
      <div class="col-sm-8">
         <div class="resource-photo-inside" style="width: 160px;">
            <%= image_tag @resource.resource_upload.photo.url(:medium), :class => "fitted-image" %>
          </div>
          <% if @resource.resource_upload %>
          
            <a class="btn btn-default" style="margin-top: 20px;" href="/resource_uploads/<%= @resource.resource_upload.id %>/crop" rel="nofollow">Crop Tool</a>
            <a data-confirm="Are you sure? This cannot be undone." class="btn btn-default" style="margin-top: 20px;" data-method="delete" href="/resource_uploads/<%= @resource_upload.id %>" rel="nofollow">Delete Image</a>
          <% end %>
      </div>
    </div>
<% end %>

  <div class="flow-submit-container">
    <a type="button" style="margin-left: 20px;" href="/resources/<%=@resource.id%>/success" class="btn btn-info">Save & Publish</a>
  </div>

