<%= form_for @resource, url: '/resources/' + @resource.id.to_s + '/weblinks', :method => :POST, html: {} do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h5>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :website, "WEBSITE ADDRESS" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :website, :placeholder => " e.g. http://www.empireassociation.com", :class => "form-control" %>
    </div>
  </div>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :email, "CONTACT EMAIL" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :email, :placeholder => " e.g. admin@resource.org", :class => "form-control" %>
    </div>
  </div>

  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :facebook, "SOCIAL MEDIA LINKS" %>
    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.text_field :facebook, :placeholder => " Facebook", :class => "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.text_field :twitter, :placeholder => " Twitter", :class => "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.text_field :linkedin, :placeholder => " Linkedin", :class => "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.text_field :yelp, :placeholder => " Yelp", :class => "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.text_field :googleplus, :placeholder => " Google Plus", :class => "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.text_field :foursquare, :placeholder => " Foursquare", :class => "form-control" %>
      </div>
    </div>
  </div>


  <div class="actions flow-submit-container">
    <%= button_to "Save & Continue", {}, {class: 'btn btn-info'} %>
  </div>
<% end %>
