<%= render partial: "partials/new_resource_breadcrumb", locals: {active: 1} %>
<div class="container">
	<h2 style="font-weight: 300; text-align: center;">Next, type comma separated tags that describe this resource.</h2>
	<h4 style="font-weight: 300; text-align: center; color: #999;">These tags help people narrow down their searches to exactly what they’re looking for. </h4>
</div>

<div class="container resource-form-container">

<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h5>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <label>COMMON TAGS</label>
    </div>
    <div class="col-sm-8">
<a href="#" onclick="javascript: appendTagList('housing', this)" class="blue-link">housing<span style='color: #999;'>,</span></a>
<a href="#" onclick="javascript: appendTagList('education', this)" class="blue-link">education<span style='color: #999;'>,</span></a>
<a href="#" onclick="javascript: appendTagList('transportation', this)" class="blue-link">transportation<span style='color: #999;'>,</span></a>
<a href="#" onclick="javascript: appendTagList('jobs', this)" class="blue-link">jobs<span style='color: #999;'>,</span></a>
<a href="#" onclick="javascript: appendTagList('recreation', this)" class="blue-link">recreation<span style='color: #999;'>,</span></a>
<a href="#" onclick="javascript: appendTagList('medical resources', this)" class="blue-link">medical resources<span style='color: #999;'>,</span></a>
<a href="#" onclick="javascript: appendTagList('assistance', this)" class="blue-link">assistance<span style='color: #999;'>,</span></a>
<a href="#" onclick="javascript: appendTagList('organizations', this)" class="blue-link">organizations<span style='color: #999;'>,</span></a>
<a href="#" onclick="javascript: appendTagList('events', this)" class="blue-link">events<span style='color: #999;'>,</span></a>

    </div>
  </div>
  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :tag_list, "TYPE YOUR OWN TAGS" %>
    </div>
    <div class="col-sm-8">
      <%= f.hidden_field :route_to, :value => "weblinks" %>
      <%= f.autocomplete_field :tag_list, autocomplete_tag_name_resources_path, :"data-delimiter" => ', ', :value => @resource.tags.join(", "), :class => "form-control", :placeholder => "transportation, limited mobility" %> 
    </div>
  </div>


	<div class="flow-submit-container">
		<%= f.submit 'Save & Continue', :class => 'btn btn-info' %>
		<% end %>

	</div>
</div>

<script>
/* this disables form submission on enter key -- because it looks as if you might be able to select existing tags using enter, when you really can't */
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
/* this hides the 'no existing matches' response when the tag doesn't exist */
$(resource_tag_list).on('autocompleteresponse', function(event, ui) {
      var content;
      if (((content = ui.content) != null ? content[0].id.length : void 0) === 0) {
        $(this).autocomplete('close');
      }
  });
function appendTagList(string, ele) {
  var target = document.getElementById("resource_tag_list");
  if (target.value.length > 0 && target.value.substr(target.value.length - 1) != ",") {
    target.value += ",";
  }
  target.value += " " + string;
  ele.style.display = 'none';
}
</script>
