<div class="container">
	<h2 style="font-weight: 300; text-align: center;">Choose what you'd like to share.</h2>
	<h4 style="font-weight: 300; text-align: center; color: #999;">This is to make sure the content you're
		sharing gets saved to the right place.</h4>
</div>

<div class="container resource-form-container">
	<div class="row" style="margin-left: 8px; margin-right: 8px;">
		<div class="col-sm-6 content-clarify-btn content-clarify-btn-active" id="my-story-btn" onclick="toggleSelectedSharingContent('my-story-btn')">
			<h4><i class="fa fa-user fa-lg"></i> &nbsp;My story</h4>
			This is about me, my interests and things I'm looking for. I'm open to connecting with others about what I share.
		</div>
		<div class="col-sm-6 content-clarify-btn" id="community-resource-btn" onclick="toggleSelectedSharingContent('community-resource-btn')">
			<h4><i class="fa fa-map-signs fa-lg"></i> &nbsp;A community resource</h4>

			This is an organization, event or other public information that others may find interesting or useful.

		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" style="margin-top: 40px; border-top: 1px solid #eee; text-align: center;">
			<a id='confirm-continue-btn' href="<%= edit_user_path(current_user)%>" class="btn btn-info" type="submit" style=" margin-top: 15px;">Confirm &amp; Continue</a>
	  </div>
	</div>
</div>
<script>
	var toggleSelectedSharingContent = function(id) {
		var otherButton = {
			'my-story-btn': 'community-resource-btn',
			'community-resource-btn': 'my-story-btn'
		};
		var targetOfButton = {
			'my-story-btn': '<%= edit_user_path(current_user)%>',
			'community-resource-btn': '/resources/new'
		};
		var thisButton = $('#' + id);
		if(thisButton.hasClass('content-clarify-btn-active')) {
			// remove the class
			thisButton.removeClass('content-clarify-btn-active');
			// add it to the other button
			$('#' + otherButton[id]).addClass('content-clarify-btn-active');
			// update target of confirm button
			$('#confirm-continue-btn').attr('href', targetOfButton[id]);
		} else {
			// remove the class from the other button
			$('#' + otherButton[id]).removeClass('content-clarify-btn-active');
			// add it to this button
			thisButton.addClass('content-clarify-btn-active');
			// update target of confirm button
			$('#confirm-continue-btn').attr('href', targetOfButton[id]);
		}
	};
</script>
