<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css
">
<style>
body { font-size: 140%; }
#resources-table_filter {
  padding-right: 50px;
}
</style>

<div class="container">
  <h1>Listing Resources</h1>


  <table class="table table-striped table-bordered" id="resources-table", data-source="<%= resources_path(format: :json) %>">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Id</th>
        <th>Name</th>
        <th>User</th>
        <th>Nationwide</th>
        <th>Views</th>
        <th>State</th>
        <th>Postal</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js
"></script>

<script>
jQuery(document).ready(function() {
  $('#resources-table').dataTable({
    "processing": true,
    "serverSide": true,
    "order": [[0, 'desc']],
    "ajax": $('#resources-table').data('source'),
    "pagingType": "full_numbers",
    // optional, if you want full pagination controls.
    // Check dataTables documentation to learn more about
    // available options.
  });
});
</script>