<%= render partial: "partials/new_resource_breadcrumb", locals: {active: 0} %>

<div class="container">
	<h2 style="font-weight: 300; text-align: center;">Let's start with the basics.</h2>
	<h4 style="font-weight: 300; text-align: center; color: #999;">Be sure to provide the full address or postal code so users can find this resource by it’s location.</h4>
</div>

<div class="container resource-form-container">
	<%= render 'form' %>
</div>
