<%= render partial: "partials/new_resource_breadcrumb", locals: {active: 3} %>

<div class="container">
	<h2 style="font-weight: 300; text-align: center;">Last step!</h2>
	<h4 style="font-weight: 300; text-align: center; color: #999;">It’s important to provide a high quality image like a logo or icon that represents this resource. Be sure to use the photo crop tool to fit the image in place just right.</h4>
</div>

<div class="container resource-form-container">
	<%= render 'photo_form' %>
	<div class="flow-submit-container">
	  <a type="button" href="/resources/<%=@resource.id%>" class="btn btn-info">Save & Return</a>
	</div>
</div>
