<div class="resource-head-color">
  <div class="container">
    <% if @resource.name.length < 50 %>
    <h3 class="resource-title">
    <% else %>
    <h4 class="resource-title">
    <% end %>
      <%= @resource.name %>

      <% if @resource.nationwide == 1 %>
        <span style="font-size: 11px; cursor:pointer;" class="label label-default">Nationwide</span>
      <% end %>

      <% if user_signed_in? %>
        <div class="btn-group pull-right">
          <button id="btnGroupVerticalDrop2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Options
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop2">
            <% if current_user.can_edit_resource(@resource.user_id) %>
              <li><a href="/resources/<%= @resource.id%>/edit">Edit</a></li>
              <li><a data-confirm="Are you sure? This cannot be undone." data-method="delete" href="/resources/<%= @resource.id %>" rel="nofollow">Delete</a></li>
            <% else %>
              <li><a data-toggle="modal" data-target="#flagModal" style="cursor: pointer;">Flag</a></li>
              <li><a data-toggle="modal" data-target="#accessModal" style="cursor: pointer;">Request Access</a></li>              
            <% end %>
          </ul>
        </div>
      <% end %>
    <% if @resource.name.length < 50 %>
    </h3>
    <% else %>
    </h4>
    <% end %>
    <div class="resource-rating-comments-title">
      <%= render 'resources/partials/profile/rating_count' %>
    </div>
  </div>
</div>
<div class="container profile-border-bottom">
  <div class="row">
    <div class="col-sm-2">
      <div class="resource-photo-container">
        <% if @resource.resource_upload %>
          <div class="resource-photo-inside">
            <%= image_tag @resource.resource_upload.photo.url(:medium), :class => "fitted-image-resource" %>
          </div>
        <% else %>
          <div class="profile-photo-inside-resource">
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-10 resource-actions-container">
      <%= render 'resources/partials/profile/actions' %>
    </div>
  </div>
</div>

<%= render 'resources/partials/profile/share_modal' %>

<% if user_signed_in? %>

<%= render 'resources/partials/profile/rating_modal' %>
<%= render 'resources/partials/profile/flag_modal' %>
<%= render 'resources/partials/profile/access_modal' %>

<script>
function save_resource() {
  var create_url = "/saved/" + "<%= @resource.id%>/<%= current_user.id%>" + "/create";
  $.ajax({
    url: create_url,
    type: 'POST',
    context: document.body
  }).done(function() {
    document.getElementById("save-toggle").innerHTML = "<i class='fa fa-heart' style='color: rgba(220,20,60, 0.6);'></i> &nbsp; SAVED";
    $("#save-toggle").attr('onclick', 'unsave_resource();');
  });
}
function unsave_resource() {
    var destroy_url = "/saved/" + "<%= @resource.id%>/<%= current_user.id%>"  + "/destroy";
    $.ajax({
      url: destroy_url,
      type: 'POST',
      context: document.body
    }).done(function() {
      document.getElementById("save-toggle").innerHTML = "<i class='fa fa-heart'></i> &nbsp; SAVE";
      $("#save-toggle").attr('onclick', 'save_resource();');      
    });
}
</script>
<% else %>
<script>
  $('#save-toggle').tooltip();
  $('#rate-btn').tooltip();
</script>
<% end %>

<div class="container">
  <div class="row">
    <%= render 'resources/partials/profile/description' %>    
    <%= render 'resources/partials/profile/details' %>
  </div>
</div>