<div class="container">
	<div class="big-success-check-container">
		<i style="color: #47A447;" class="fa fa-check-circle-o fa-6 big-success-check"></i>
	</div>

	<div class="row">
	  <div class="col-md-8 col-md-offset-2 form-row-border-bottom">
			<h2 style="font-weight: 300; text-align: center;">Your submission was successful.</h2>
			<h4 style="font-weight: 300; text-align: center; color: #999;">Thank you for sharing what you know and contributing to our growing community!</h4> 
	  </div>
	</div>




  <div class="flow-submit-container" style="margin-top: 20px;">
    <a type="button" href="/resources/<%=@resource.id%>" class="btn btn-info">VIEW RESOURCE</a>
    <a type="button" href="/resources/new" style="margin-left: 30px;" class="btn btn-success">SUBMIT ANOTHER</a>
  </div>
</div>