<%= render partial: "partials/new_resource_breadcrumb", locals: {active: 2} %>

<div class="container">
	<h4 style="font-weight: 300; text-align: center; color: #999;">Here you can specify an existing website and provide links to popular social media accounts.</h4>
</div>

<div class="container resource-form-container">
	<%= render 'weblinks_form' %>
</div>
