<!-- Modal -->
<div class="modal fade" id="accessModal" tabindex="-1" role="dialog" aria-labelledby="accessModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Request Access</h4>
      </div>
      <div class="modal-body">

      <%= form_for(@request_access) do |f| %>
        <% if @request_access.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@request_access.errors.count, "error") %> prohibited this request_access from being saved:</h2>

            <ul>
            <% @request_access.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :resource_id, :value => @resource.id %>
        <div class="field">
          <%= f.label :explanation %><br>
          <%= f.bootsy_area :explanation, editor_options: {image: true}, :class => "form-control", :rows => "4", :placeholder => "Please explain in detail why it would be suitable to grant you administrator privileges for this resource. e.g. your title, length of time in position, and any links or company/ organization emails that demonstrate your affiliation. ", :required => true %>
        </div>
        <!-- form stays open for submit button -->
      </div>
      <div class="modal-footer">
        <% if @request_access.id %>
          <span class="btn btn-default pull-left" disabled="disabled">Submitted <%= distance_of_time_in_words(Time.now, @request_access.created_at, {include_seconds: true}) %> ago</span>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       
        <%= f.submit "Submit", :class => "btn btn-primary" %>
        <% end %> <!-- /form -->
      </div>
    </div>
  </div>
</div>