<ul class="list-inline resource-actions">
  <li id="save-toggle"
    <% if user_signed_in? %>
      onclick="<%= @resource.current_user_saved(user_signed_in?, current_user) ? "unsave_resource();".html_safe : "save_resource();".html_safe %>" 
    <% else %>
      data-toggle="tooltip" data-placement="top" title="Log in to save" onclick="window.location='/users/sign_in'"
    <% end %>>
    <!-- text value of button -->
    <%= @resource.current_user_saved(user_signed_in?, current_user) ? "<i class='fa fa-heart' style='color: rgba(220,20,60, 0.6);'></i> &nbsp; SAVED".html_safe : "<i class='fa fa-heart'></i> &nbsp; SAVE".html_safe %>
  </li>
  <li 
    <% unless @resource.nationwide == true %>
      onclick="window.open('http://maps.google.com/?q=<%=@resource.full_street_address%>')"
    <% end %>><i class="fa fa-map-marker"></i> &nbsp; GET DIRECTIONS
  </li>
  <li id="rate-btn"
    <% if user_signed_in? %>
      data-toggle="modal" data-target="#myModal"
    <% else %>
      data-toggle="tooltip" data-placement="top" title="Log in to rate" onclick="window.location='/users/sign_in'"
    <% end %>>
    <!-- text value of button -->
    <% if user_signed_in? %>
      <% if @rating.user_id == current_user.id %>
        <i class="fa fa-star" style="color: #30B2D3;"></i> &nbsp; PROVIDER RATED
      <% else %>
        <i class="fa fa-star"></i> &nbsp; RATE PROVIDER
      <% end %>
    <% else %>
      <i class="fa fa-star"></i> &nbsp; RATE PROVIDER
    <% end %>
  </li>
  <li data-toggle="modal" data-target="#shareModal"><i class="fa fa-share-square-o"></i> &nbsp; SHARE</li>
</ul>