<div class="col-sm-8 resource-description-container">
  <h5>DESCRIPTION</h5>
  <div class="resource-description-padding">
    <% if @resource.description.length < 400 %>
    <div><p><%= @resource.description.html_safe %></p></div>
    <% else %>
    <div><p><%= @description_start.html_safe %></p></div>

    <div id="more-text" class="more-text"><p><%= @description_end.html_safe %></p></div>

    <div><div id="toggle-description-button" class="toggle-description-link">Read More</div></div>




    <script>
      $( "#toggle-description-button" ).click(function() {
        $( "#more-text" ).slideToggle( "slow", function() {
          if(document.getElementById("toggle-description-button").innerHTML == "Read More") {
            document.getElementById("toggle-description-button").innerHTML = "Read Less";
          } else {
            document.getElementById("toggle-description-button").innerHTML = "Read More";        
          }
        });
      });
    </script>
    <% end %>
  </div>
  <div style="margin-bottom: 45px;">
    <%= render 'resources/partials/profile/tags' %> 
  </div>

  <%= render 'resources/partials/profile/disqus' %>


</div>