    <div class="col-sm-4 resource-detail-section">

      <h5>DETAILS</h5>
      <div class="resource-detail-container">
        <div class="resource-detail-title">WEBSITE: </div>
        <strong><%= @resource_website.presence ? ("<a target='_blank' href='" + @resource.website + "' >" + @resource_website_short + "</a>").html_safe : "-<br>".html_safe %></strong></div>
      <div class="resource-detail-container">
        <div class="resource-detail-title">EMAIL: </div>
        <% if @resource.email.presence and @resource.email.length > 0 %>
          <%= mail_hide(@resource.email).html_safe %>
          <script type="text/javascript">
          // Popup window code
          function newPopup(url) {
            popupWindow = window.open(
              url,'popUpWindow','height=400,width=600,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
          }
          </script>
        <% else %>
          -<br>
        <% end %>
      </div>
      <div class="resource-detail-container">
        <div class="resource-detail-title">ADDRESS: </div> 
          <% unless @resource.nationwide == 1 %>
          <strong><%= @resource.address_street.presence ? @resource.address_street.presence : "<br>".html_safe %></strong>
          <br>
        <div class="resource-detail-title"> &nbsp; </div>
          <strong>
          <%= (@resource.address_city + ", " + @resource.address_state + " " + @resource.address_postal).presence ? @resource.address_city + ", " + @resource.address_state + " " + @resource.address_postal :  "<br>".html_safe %>
          </strong>
          <% else %>
          <strong>
            Nationwide
          </strong>
          <% end %>
      </div>
      <div class="resource-detail-container">
        <div class="resource-detail-title">PHONE: </div>
        <strong> <%= @resource.phone.presence ? @resource.phone : "-<br>".html_safe %></strong>
      </div>
      <div class="resource-detail-container">
        <div class="resource-detail-title">VIEWS: </div>
        <strong> <%= sprintf '%06d', @resource.impressionist_count(:filter=>:all) %> </strong>
      </div>
      <div class="resource-detail-container">
        <!-- used as a spacer -->
        <div class="resource-detail-title"> &nbsp; </div> 

        <%= @resource.print_map(@resource.formatted_distance_from_user(user_signed_in?, (current_user || ""))).html_safe %>
        <!-- spacer --> 
        <br>         
      </div>
        <% if @resource.anonymous == false %>
          <h5>CONTRIBUTOR</h5>
          <div class="resource-detail-container" style="border-bottom: 0px solid transparent; line-height: 14px;">
            <div class="resource-detail-title">
              <% if @resource.user.user_upload %>
                <%= image_tag @resource.user.user_upload.photo.url(:thumb), :style => "border-radius: 30px; height: 50px; margin-left: 10px;" %>
              <% else %>
                <img alt="Contributor Profile Image" src="/img/users/avatar.jpg" style="border-radius: 30px; height: 50px; margin-left: 10px;">
              <% end %>
            </div>
              <strong><%= @resource.user.first_name + " " + @resource.user.last_name%> </strong><br>

              <%= @resource.user.address_city %><% if (@resource.user.address_city &&  @resource.user.address_city.length > 1) && (@resource.user.address_state &&  @resource.user.address_state.length > 1) %>, <% end %>
              <%= @resource.user.address_state %>
            
          </div><br><br>
        <% end %>


        <% if @related_resources and @related_resources.length > 0 %>
          <div class="resource-detail-container related-resources">
            <h5>RELATED RESOURCES</h5>
            <%= render 'resources/partials/related_resources' %>
          </div>
        <% end %>

      </div>
    </div>