<!-- Modal -->
<div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-labelledby="flagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Flag this resource</h4>
      </div>
      <div class="modal-body">

<%= form_for(@flag) do |f| %>
  <% if @flag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flag.errors.count, "error") %> prohibited this flag from being saved:</h2>

      <ul>
      <% @flag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category, "Type" %><br>
    <% types = ["Inappropriate", "Duplicate", "Scam", "Miscategorized", "Other"] %>
    <%= f.select(:category, types.map {|t| [ t, t ] }, {include_blank: false}, {class: "form-control"}) %>
  </div>
  <%= f.hidden_field :resource_id, :value => @resource.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field" id="duplicate_field" style="display: none;">
    <%= f.label :duplicate_id, "Duplicate Resource ID" %><br>
    <%= f.text_field :duplicate_id, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
          <%= f.bootsy_area :details, editor_options: {image: true}, :class => "form-control", :rows => "4", :placeholder => "optional. " %>
        </div>
        <!-- form stays open for submit button -->
      </div>
      <div class="modal-footer">
        <% if @flag.id %>
          <span class="btn btn-default pull-left" disabled="disabled">Submitted <%= distance_of_time_in_words(Time.now, @flag.created_at, {include_seconds: true}) %> ago</span>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       
        <%= f.submit "Submit", :class => "btn btn-primary" %>
        <% end %> <!-- /form -->
      </div>
    </div>
  </div>
</div>

<script>
$('#flag_category').on('change', function() {
  if (this.value == "Duplicate") {
    document.getElementById("duplicate_field").style.display = "block";
    $("#flag_duplicate_id").prop('required',true);
  } else {
    document.getElementById("duplicate_field").style.display = "none";
    $("#flag_duplicate_id").prop('required',false);
  }
});

</script>