<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body" style="padding-left: 30px; padding-right: 30px;">
          

                    <div class="form-group" style="padding-left: 39px; padding-bottom: 20px;">
            <button type="button" class="btn btn-primary btn-lg btn-block" style="font-weight: 200;">Sign in with Facebook</button>
          </div>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon" style="border: 0px solid transparent;background: transparent;"><i class="fa fa-user"></i></div>
              <%= f.email_field :email, :autofocus => true, :class => "form-control", :style => "border-radius: 3px;", :placeholder => "Email Address" %>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon" style="border: 0px solid transparent;background: transparent;"><i class="fa fa-lock"></i></div>
              <%= f.password_field :password, :class => "form-control", :style => "border-radius: 3px;", :placeholder => "Password" %>
            </div>
          </div>


          <div class="form-group" style="padding-left: 39px; padding-top: 20px;">
            <%= f.submit "Sign in", :class => 'btn btn-info btn-lg btn-block' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       
      </div>
    </div>
  </div>
</div>

<style>
  #raty_div {
    color: #30B2D3;
  }
  body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
      margin-right: 0;
  }

  .modal {
      overflow-y: auto;
  }
</style>