<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Rate Resource</h4>
      </div>
      <div class="modal-body">

        <%= form_for(@rating) do |f| %>
          <% if @rating.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

              <ul>
              <% @rating.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :resource_id, :value => @resource.id %>
          <div class="field">
            <%= f.hidden_field :score, :required => true %>
            <div id="raty_div"></div>
          </div>
          <div class="field">
            <%= f.label :comment %><br>
            <%= f.text_area :comment, :class => "form-control", :rows => "4", :placeholder => "optional." %>
          </div>
        <!-- form stays open for submit button -->
      </div>
      <div class="modal-footer">
        <% if @rating.id %>
        <a data-confirm="Are you sure?" class="btn btn-danger pull-left" data-method="delete" href="/ratings/<%= @rating.id%>" rel="nofollow">Destroy</a>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       
        <%= f.submit "Save changes", :class => "btn btn-primary" %>
        <% end %> <!-- /form -->
      </div>
    </div>
  </div>
</div>
<script>
<% if @rating.id %>
$('#raty_div').raty({
  score: <%= @rating.score %>,
  cancel   : true,
  half     : true,
  starType : 'i',
  click: function(score, evt) {
    score = Math.round(score*2)/2;
    document.getElementById("rating_score").value = score;
  }
});
<% else %>
$('#raty_div').raty({
  cancel   : true,
  half     : true,
  starType : 'i',
  click: function(score, evt) {
    score = Math.round(score*2)/2;
    document.getElementById("rating_score").value = score;
  }
});
<% end %>
</script>