<div id="raty_average"></div>
<link rel="stylesheet" href="/raty/jquery.raty.css">
<script src="/raty/jquery.raty.js"></script>
<script>
  $('#raty_average').raty({
    score: <%= @average%>,
    cancel   : false,
    half     : true,
    starType : 'i',
    readOnly: true
  });
</script>


&nbsp; 
<span class="resource-profile-review-count">
  <% num_ratings = @resource.ratings.length %>
  <%if num_ratings == 0 %>
    0 Reviews
  <% elsif num_ratings == 1 %>
    1 Review
  <% else %>
    <%= num_ratings %> Reviews
  <% end %>
</span>