<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Share Resource</h4>
      </div>
      <div class="modal-body">
          <%= social_share_button_tag("AbilityList") %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       
      </div>
    </div>
  </div>
</div>

<style>
  #raty_div {
    color: #30B2D3;
  }
  body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
      margin-right: 0;
  }

  .modal {
      overflow-y: auto;
  }
</style>