<%= form_for(@checker) do |f| %>
  <% if @checker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checker.errors.count, "error") %> prohibited this checker from being saved:</h2>

      <ul>
      <% @checker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_address %><br>
    <%= f.text_field :full_address %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
