<h1>Listing checkers</h1>

<table>
  <thead>
    <tr>
      <th>Full address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkers.each do |checker| %>
      <tr>
        <td><%= checker.full_address %></td>
        <td><%= checker.latitude %></td>
        <td><%= checker.longitude %></td>
        <td><%= link_to 'Show', checker %></td>
        <td><%= link_to 'Edit', edit_checker_path(checker) %></td>
        <td><%= link_to 'Destroy', checker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checker', new_checker_path %>
