<p id="notice"><%= notice %></p>

<p>
  <strong>Full address:</strong>
  <%= @checker.full_address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @checker.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @checker.longitude %>
</p>

<%= link_to 'Edit', edit_checker_path(@checker) %> |
<%= link_to 'Back', checkers_path %>
