= form_for @conversations_user do |f|
  - if @conversations_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@conversations_user.errors.count, "error")} prohibited this conversations_user from being saved:"
      %ul
        - @conversations_user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :conversation_id
    = f.number_field :conversation_id
  .field
    = f.label :joined_at
    = f.datetime_select :joined_at
  .actions
    = f.submit 'Save'
