%h1 Listing conversations_users

%table
  %thead
    %tr
      %th User
      %th Conversation
      %th Joined at
      %th
      %th
      %th

  %tbody
    - @conversations_users.each do |conversations_user|
      %tr
        %td= conversations_user.user_id
        %td= conversations_user.conversation_id
        %td= conversations_user.joined_at
        %td= link_to 'Show', conversations_user
        %td= link_to 'Edit', edit_conversations_user_path(conversations_user)
        %td= link_to 'Destroy', conversations_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Conversations user', new_conversations_user_path
