%p#notice= notice

%p
  %b User:
  = @conversations_user.user_id
%p
  %b Conversation:
  = @conversations_user.conversation_id
%p
  %b Joined at:
  = @conversations_user.joined_at

= link_to 'Edit', edit_conversations_user_path(@conversations_user)
\|
= link_to 'Back', conversations_users_path
