<%= form_for(@user_upload) do |f| %>
  <% if @user_upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_upload.errors.count, "error") %> prohibited this resource_upload from being saved:</h2>

      <ul>
      <% @user_upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row form-row form-row-border-bottom">
    <div class="col-sm-4">
      <%= f.label :photo, "PROFILE PHOTO" %>
      <div style="font-size: 11px;"></div>
    </div>
    <div class="col-sm-8">
      <%= f.file_field :photo %><br>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= button_to "Upload File", {}, {class: 'btn btn-primary'} %>
    </div>
  </div>
<% end %>

<!-- THERE IS A SEPARATE FORM FOR CROPPING -->
<% if @user_upload.id %>
    <div class="row form-row form-row-border-bottom">
      <div class="col-sm-4">
        <label for="resource_upload_photo">PREVIEW</label>
      </div>
      <div class="col-sm-8">
         <div class="resource-photo-inside" style="width: 160px;">
            <%= image_tag @user_upload.photo.url(:medium), :class => "fitted-image-resource" %>
          </div>
          <% if @user_upload.id %>
            <a class="btn btn-default" style="margin-top: 20px;" href="/user_uploads/<%= @user_upload.id %>/crop" rel="nofollow">Crop Tool</a>
            <a data-confirm="Are you sure? This cannot be undone." class="btn btn-default" style="margin-top: 20px;" data-method="delete" href="/user_uploads/<%= @user_upload.id %>" rel="nofollow">Delete Image</a>
          <% end %>
      </div>
    </div>
<% end %>

  <div class="flow-submit-container">
    <a type="button" style="margin-left: 20px;" href="/users/<%=@user_upload.user_id%>" class="btn btn-info">Save & Return</a>
  </div>
