<div class="container">
	<h2> Crop User Photo </h2>
	<%= form_for @user_upload do |f| %>
	  <%= f.cropbox :photo, :width => 400 %>
	  <%= f.crop_preview :photo %>

  <div class="actions flow-submit-container" style="text-align: left;">
    <a class="btn btn-default" style="margin-right: 8px;" href="/user_uploads/<%=@user_upload.id%>/edit">Back</a><%= f.submit "Crop & Return", {class: 'btn btn-info'} %>
  </div>
	<% end %>
</div>
