<h1>Listing user_uploads</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_uploads.each do |user_upload| %>
      <tr>
        <td><%= user_upload.user_id %></td>
        <td><%= link_to 'Show', user_upload %></td>
        <td><%= link_to 'Edit', edit_user_upload_path(user_upload) %></td>
        <td><%= link_to 'Destroy', user_upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User upload', new_user_upload_path %>
