<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_upload.user_id %>
</p>

<%= link_to 'Edit', edit_user_upload_path(@user_upload) %> |
<%= link_to 'Back', user_uploads_path %>
