<p id="notice"><%= notice %></p>

<h1>Listing Distances</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Location</th>
      <th>Resource</th>
      <th>Distance</th>
      <th>Cache string</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distances.each do |distance| %>
      <tr>
        <td><%= distance.id %></td>
        <td><%= distance.location %></td>
        <td><%= distance.resource_id %></td>
        <td><%= distance.distance %></td>
        <td><%= distance.cache_string %></td>
        <td><%= link_to 'Show', distance %></td>
        <td><%= link_to 'Edit', edit_distance_path(distance) %></td>
        <td><%= link_to 'Destroy', distance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distance', new_distance_path %>
