<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @distance.location %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @distance.resource_id %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @distance.distance %>
</p>

<%= link_to 'Edit', edit_distance_path(@distance) %> |
<%= link_to 'Back', distances_path %>
