<%= form_for(@request_access) do |f| %>
  <% if @request_access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_access.errors.count, "error") %> prohibited this request_access from being saved:</h2>

      <ul>
      <% @request_access.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :resource_id %><br>
    <%= f.number_field :resource_id %>
  </div>
  <div class="field">
    <%= f.label :explanation %><br>
    <%= f.text_area :explanation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
