<h1>Listing request_accesses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Resource</th>
      <th>Explanation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_accesses.each do |request_access| %>
      <tr>
        <td><%= request_access.user_id %></td>
        <td><%= request_access.resource_id %></td>
        <td><%= request_access.explanation %></td>
        <td><%= link_to 'Show', request_access %></td>
        <td><%= link_to 'Edit', edit_request_access_path(request_access) %></td>
        <td><%= link_to 'Destroy', request_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request access', new_request_access_path %>
