<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request_access.user_id %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @request_access.resource_id %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @request_access.explanation %>
</p>

<%= link_to 'Edit', edit_request_access_path(@request_access) %> |
<%= link_to 'Back', request_accesses_path %>
