
<%= render '/layouts/headers/head' %>

<%= render '/layouts/navigations/navigation' %>

<div <% if @about %> id="wrapper" <% end %> class="site-content-wrapper <% unless @landing %>scw-min-height<% end %>">

	<!-- signin and signup have custom (non-bootstrap) notifications -->
	<% unless @signin == true or @signup == true %>
		<%= render '/layouts/flashes' %>
	<% end %>

	<%= yield %>

</div>

<%= render '/layouts/footers/footer' %>

</body>
</html>

