<html>
<head>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<h1 style="text-align: center; font-family: 'Stint Ultra Condensed', cursive; font-size: 70px; font-weight: bold; letter-spacing: 2px;">AbilityList.org</h1>

		<h4 style="text-align: center;"> <i class="fa fa-exclamation" style="color: #6a6a6a;"></i> &nbsp; &nbsp; <span style="color: #0eb4b6; text-decoration: underlined;" ><%= yield %></span> &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa fa-terminal" style="color: #6a6a6a;"></i> &nbsp; &nbsp; <span style="color: #0eb4b6; text-decoration: underlined;"><%= @status_code %></span></h4>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<img src="/img/igg/construction.jpg" style="width: 100%;">
			</div>
		</div>

		<h4 style="text-align: center;">You'll have to excuse us, we're still setting up here.</h4>

		<div class="row">
			<div class="col-md-4 col-md-offset-4">
			<a href="/" class="btn btn-info btn-lg btn-block"><i class="fa fa-undo"></i> Return Home</a>
			</div>
		</div>

	</div>
</body>
</html>